<div class="container flow-text-adapt">
  <div class="divider"></div>
  <div class="row">
  	<h4 class="center">Dates à ne pas manquer</h4>
</div>
<div class="col s12">
  <p>Le prochain Pouce d'Or se déroulera les week-ends des <strong>30 septembre et 7 octobre</strong>, chaque établissement choisissant le week-end qui lui convient
    le mieux.</p>
  <p class="hide-on-med-and-up">Les inscriptions des établissements sont ouvertes dès maintenant, et l'inscription des participants ouvrira le
    <strong>20 septembre</strong> à travers ce formidable site internet.
  </p>

  <div class="col hide-on-small-only">
  	<p class="dates"><strong class="amber-text text-darken-1">Mercredi 20 septembre : </strong>Ouverture des inscriptions des participants.</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Vendredi 29 septembre 23h59min59s : </strong>Fermeture des inscriptions des participants.
      C’est le moment où il vaut mieux éviter de faire une soirée pré-départ.</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Samedi 30 septembre 7h20 : </strong>Rendez-vous au point de rencontre pour la distribution des gilets jaunes, la remise des décharges et les derniers points de sécurité. Grosse grosse grosse ambiance !</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Samedi 30 septembre 8h00 : </strong>C’est parti pour la première vague de Pouceux !</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Samedi 30 septembre 18h27 : </strong>Tu vois sur facebook que certains admirent l'architecture d'Amsterdam. Tu trouves ça très surfait parce que ton aire d'autoroute normande est beaucoup plus jolie ...</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Dimanche 1er octobre 13h09 : </strong>Vous croisez un binôme de Marseille. Sauf qu’eux ils sont à 764 km de chez eux. Vous leur demandez quels cours ils ratent demain.</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Lundi 2 octobre 8h00 : </strong>La plupart des Pouceux sont rentrés et vont mécaniquement en amphi. Il en reste deux qui sont encore bloqués à Strasbourg, ce sont des héros.</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Samedi 7 octobre 8h00 : </strong>La deuxième vague de Pouceux est en route !!</p>
  	<p class="dates"><strong class="amber-text text-darken-1">Lundi 9 octobre 8h00 : </strong>Fin du Pouce d’Or 2016, tout le monde raconte ses anecdotes !! Vous avez jusqu’au 14 octobre pour valider vos parcours sur le site internet, y déclarer vos retards et y raconter votre aventure !</p>

  	<p style="margin-top:20px"><strong class="amber-text text-darken-1">Jeudi 8 février 2017 : </strong>Ouaaaaais y’a le classement en ligne !!!</p>
</div>
</div>
</div>
