<div class="container flow-text-adapt">
  <div class="divider"></div>
  	<h4 id="dates" class="center">Dates à ne pas manquer</h4>

  	<p>Mercredi 21 septembre : Ouverture des inscriptions des participants.<br />
  	Vendredi 30 septembre 23h59 : Fermeture des inscriptions des participants. C’est le moment où il vaut mieux éviter de faire une soirée pré-départ.<br />
  	Samedi 1er octobre 7h20 : Rendez-vous au point de rencontre pour la distribution des gilets jaunes, la remise des décharges et les derniers points de sécurité. Grosse grosse grosse ambiance !<br />
  	Samedi 1er octobre 8h00 : C’est parti pour la première vague de Pouceux !<br />
  	Samedi 1er octobre 18h27 : D’après Roger, Prague c’est très joli de nuit, qu’est-ce que tu penses de ton aire d’autoroute pourrie ?<br />
  	Dimanche 2 octobre 13h09 : Vous croisez un binôme de Marseille. Sauf qu’eux ils sont à 764 km de chez eux.<br />
  	Lundi 3 septembre 8h00 : La plupart des Pouceux sont rentrés et vont mécaniquement en amphi. Y’en a deux qui sont encore bloqués à Strasbourg, ce sont des héros.<br />
  	Samedi 8 octobre 8h00 : La deuxième vague de Pouceux est en route !!<br />
  	Lundi 10 octobre 8h00 : Fin du Pouce d’Or 2016, tout le monde raconte ses anecdotes !! Vous avez jusqu’au 15 septembre pour valider vos parcours sur le site internet, y déclarer vos retards et y raconter votre aventure !</p>

  	<p>Jeudi 9 février 2017 : Ouaaaaais y’a le classement en ligne !!!</p>

</div>
