<div class="container flow-text-adapt">
  <div class="divider"></div>
  <div class="row">
    <h4 id="etablissement" class="center">Inscrire son établissement</h4>
  </div>

<div class="row valign-wrapper hide-on-small-only">
  <div class="col valign">
  <p>Les inscriptions des établissements auront lieu pour l’édition 2017 du 1 au 20 septembre. </p>

  <p>Tu veux nous rejoindre !? <br />
  Quelques points essentiels seront à respecter, notamment au sujet:</p>

  <ul>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De la transmission des consignes de sécurité et de la prévention</li>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De l’encadrement des binômes lors de l’événement</li>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De la mise en commun du travail de communication</li>
  </ul>

  <p>N’hésite pas à nous contacter par <a href="mailto:staff@poucedor.fr">mail</a>, ou bien à contacter le profil Pouce d’Or
  ou notre  <a href="https://www.facebook.com/poucedor/">page facebook</a>, nous te ferons parvenir toutes les informations nécessaires à la bonne organisation de l’événement !
  </p>
</div>
<div class="col">
  <img src="assets/img/evenement/i_want_you_2.png" class="responsive-img valign"></img>
</div>

</div>

<div class="row hide-on-med-and-up">
  <div class="col s6">
  <p>L'inscription des établissements aura lieu pour l’édition 2017 du 1 au 20 septembre. </p>

</div>

<div class="col s6">
  <img src="assets/img/evenement/i_want_you_2.png" class="responsive-img valign"></img>
</div>

  <div class="col s12">

    <p>Tu veux nous rejoindre !? <br />
    Quelques points essentiels seront à respecter, notamment au sujet:</p>

  <ul>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De la transmission des consignes de sécurité et de la prévention</li>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De l’encadrement des binômes lors de l’événement</li>
    <li class="recommandation"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>De la mise en commun du travail de communication</li>
  </ul>

  <p>Pour plus d'informations, n’hésite pas à nous contacter par <a href="mailto:staff@poucedor.fr">mail</a>, ou bien à contacter le profil Pouce d’Or
  ou notre  <a href="https://www.facebook.com/poucedor/">page facebook</a> !
  </p>
  
</div>

</div>

</div>
