<div class="parallax-container firstimage">
	<div class="parallax"><img src="/assets/img/evenement.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container flow-text-adapt">
	<div class="section">
<div class="row">
		<h4 id="regles" class="center col s12">Règles de l'évenement</h4>
</div>
		<div class="row">
			<h5 class="col s12">Règles du Pouce d'Or</h5>
		</div>
		<div class="row">
			<div class="col s12">
			<p>
				L'objectif !? Aller le plus loin possible, en 48h, en stop, et revenir, en binôme.
			</p>

				<p>L'autostop est bien entendu compris au sens large, il est tout à fait acceptable (et valorisable !) d'être pris en stop dans un
				train, une avionnette, un bateau, ou tout autre engin permettant de se déplacer plus rapidement (ou moins !) qu'à pied.</p>
				<p>
					Les seuls transports payants autorisés sont les transports en commun dans les villes ainsi que les vélos en libre service.<br /></p>

				<p> Les distances sont ensuite calculées via les données d'<a href="https://www.openstreetmap.org/directions#"><strong>OpenStreetMap</strong></a> et le projet OSRM.
				100 km de pénalité sont retirés par heure de retard au retour.</p>

			<p class="hide-on-small-only">Les plus intrépides pourront pimenter leur Pouce d'Or par l'accomplissement de <a href="defis.html"><strong>défis Pouce d'Or</strong></a>.
				 Ces défis valoriseront notamment les moyens de transport alternatifs pris en stop, les aventures originales et autres exploits
				 accomplis par les Pouceux ! Ils permettront de mettre en place un second classement, basé sur les points défis obtenus par
				 chaque binôme.
				</p>

				<p class="hide-on-med-and-up">Les plus intrépides pourront pimenter leur Pouce d'Or en réalisant des <a href="defis.html"><strong>défis Pouce d'Or</strong></a>,
					  qui valoriseront notamment les moyens de transport alternatifs pris en stop, les aventures originales et autres exploits
					 accomplis par les Pouceux !
					</p>

			</div>
			<!-- <div class="col s4">
				<img class="responsive-img" src="assets/img/evenement/planete_dessin.jpeg"></img>
			</div> -->
</div>

			<div class="row">
				<h5 class="col s12">Consignes de sécurité</h5>
			</div>

			<div class="row">
			<p class="col hide-on-small-only">Afin d'assurer la sécurité des participants, certaines consignes simples de sécurité devront être respectées tout au long
				du week-end:</p>

			<ul class="col s11 offset-s1">
				<li class="recommandation"><i class="fa fa-car yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>  Porter le gilet jaune tout au long du week-end, parce que la sécurité c'est important.</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Ne jamais se séparer de son binôme, même s'il ou elle est relou(e).</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Ne jamais s'endormir en même temps que son binôme, à moins d'être dans un environnement sécurisé.</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Communiquer sa position toutes les 3 heures, par saisie sur le site ou par échange avec le staff.</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Eviter tout comportement irresponsable, du genre traverser la Loire ou une autoroute à la nage.</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Ne pas monter avec un conducteur qui n'inspire pas confiance.</li>
				<li class="recommandation"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>  Contacter le staff si soucis ou besoin de soutien, logistique ou moral.</li>
			</ul>
		</div>

	</div>
</div>
