<div class="parallax-container firstimage">
	<div class="parallax"><img src="/assets/img/evenement.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container flow-text-adapt">
	<div class="">
		<h4 id="regles" class="center">Règles</h4>

		<div class="row">
			<h5 class="left">Règles du Pouce d'Or</h5>
		</div>
		<div class="row">
			<p class="">
				L'objectif !? Aller le plus loin possible, en 48h, en stop, et revenir, en binômes.
			</p>

				<p>L'autostop est bien entendu compris au sens large, il est tout à fait acceptable (et valorisable !) d'être pris en stop dans un
				train, une avionnette, un bateau, ou tout autre engin permettant de se déplacer plus rapidement (ou moins !) qu'à pied.
				Les seuls transports payants autorisés sont les transports en commun dans les villes ainsi que les vélos en libre service.<br />
				Les distances sont ensuite calculées via les données d'<a href="https://www.openstreetmap.org/directions#">OpenStreetMap</a> et l'algorithme OSRM.
				100 km de pénalité sont retirés par heure de retard au retour.</p>

			<p>Les plus intrépides pourront pimenter leur Pouce d'Or par l'accomplissement de <a href=""><strong>défis Pouce d'Or</strong></a>.
				 Ces défis valoriseront notamment les moyens de transport alternatifs pris en stop, les aventures originales et autres exploits
				 accomplis par les Pouceux ! Ils permettront de mettre en place un second classement, basé sur les points défis obtenus par
				 chaque binôme.<br />
				</p>

				<br/>
			</div>

			<div class="row">
				<h5 class="left">Consignes de sécurité</h5>
			</div>

			<div class="row">
			<p>Afin d'assurer la sécurité des participants, certaines consignes simples de sécurité devront être respectées tout au long
				du week-end:</p>

			<ul>
				<li>Porter le gilet jaune tout au long du week-end</li>
				<li>Ne jamais se séparer de son binôme</li>
				<li>Ne jamais s'endormir en même temps que son binôme, à moins d'être dans un environnement sécurisé</li>
				<li>Mettre à jour sa position sur le site toutes les 3 heures, ou bien donner des nouvelles au staff</li>
				<li>Eviter tout comportement irresponsable, du genre traverser la Loire ou une autoroute à la nage</li>
				<li>Ne pas monter avec un conducteur qui n'inspire pas confiance</li>
				<li>Contacter le staff si soucis ou besoin de soutien, logistique ou moral</li>
			</ul>
		</div>
	</div>

	<div class="divider"></div>
	<h4 id="recommendation" class="center">Recommandations</h4>

	<p>
	  Un voyage en stop se prépare, spécialement si c’est un long trajet. Rien n'est à laisser au hasard : équipement, nourriture,
		forme, et mental !!<br/>
		Préparation du trajet<br/>
		Ne pas partir avec un con !! Choisissez bien votre binôme pour passer le meilleur week-end possible !</p>


	<h4 id="etablissement" class="center">Inscrire son établissement</h4>

	<p>Les inscriptions des établissements auront lieu pour l’édition 2017 du 1 au 20 septembre. </p>

	<p>Tu veux nous rejoindre !? <br />
	Quelques points essentiels seront à respecter, notamment au sujet:</p>

	<ul>
		<li>De la transmission des consignes de sécurité et de la prévention</li>
		<li>De l’encadrement des binômes lors de l’événement</li>
		<li>De la mise en commun du travail de communication</li>
	</ul>

	<p>N’hésite pas à nous contacter par <a href="mailto:staff@poucedor.fr">mail</a>, ou bien à contacter le profil Pouce d’Or
		ou notre  <a href="https://www.facebook.com/poucedor/">page facebook</a>, nous te ferons parvenir toutes les informations nécessaires à la bonne organisation de l’événement !
	</p>

	<h4 id="dates" class="center">Dates à ne pas manquer</h4>

	<p>Mercredi 21 septembre : Ouverture des inscriptions des participants.<br />
	Vendredi 30 septembre 23h59 : Fermeture des inscriptions des participants. C’est le moment où il vaut mieux éviter de faire une soirée pré-départ.<br />
	Samedi 1er octobre 7h20 : Rendez-vous au point de rencontre pour la distribution des gilets jaunes, la remise des décharges et les derniers points de sécurité. Grosse grosse grosse ambiance !<br />
	Samedi 1er octobre 8h00 : C’est parti pour la première vague de Pouceux !<br />
	Samedi 1er octobre 18h27 : D’après Roger, Prague c’est très joli de nuit, qu’est-ce que tu penses de ton aire d’autoroute pourrie ?<br />
	Dimanche 2 octobre 13h09 : Vous croisez un binôme de Marseille. Sauf qu’eux ils sont à 764 km de chez eux.<br />
	Lundi 3 septembre 8h00 : La plupart des Pouceux sont rentrés et vont mécaniquement en amphi. Y’en a deux qui sont encore bloqués à Strasbourg, ce sont des héros.<br />
	Samedi 8 octobre 8h00 : La deuxième vague de Pouceux est en route !!<br />
	Lundi 10 octobre 8h00 : Fin du Pouce d’Or 2016, tout le monde raconte ses anecdotes !! Vous avez jusqu’au 15 septembre pour valider vos parcours sur le site internet, y déclarer vos retards et y raconter votre aventure !</p>

	<p>Jeudi 9 février 2017 : Ouaaaaais y’a le classement en ligne !!!</p>
</div>
