<div class="container flow-text-adapt">
  <div class="divider"></div>
  <div class="row">
    <h4 id="recommendation" class="center">Recommandations</h4>
  </div>
  <div class="row ">
      <p class="col s12">
        Un voyage en stop se prépare, spécialement si c’est un long trajet. Rien n'est à laisser au hasard : équipement, nourriture,
        forme, et mental !!<br/></p>

    <div class="col s6">
    <img class="responsive-img " src="assets/img/evenement/check_list.png"></img>
  </div>
<div class="col s6 ">

      <h5>Choix de ton binôme</h5>
      <p>

      Le premier point, c'est de bien choisir ton binôme.
      Vous allez vivre une expérience certes unique, mais vous allez vivre en symbiose pendant 48h, alors ne vous tapez pas dessus !
    </p>
    <h5>Equipement et matériel</h5>
    <p>
      Le plus important est le <strong class="amber-text text-darken-1">chargeur de portable</strong>. <br/>
      On a besoin de communiquer avec vous très régulièrement, alors si vous avez une batterie externe, un chargeur sur secteur ou sur cable USB, prenez !<br/>
      Les chauffeurs vous laissent souvent vous recharger sur l'allume cigare alors profitez-en et n'oubliez pas de dire merci à la fin !<br/>
      En équipement, <strong class="amber-text text-darken-1">une lampe torche</strong> pour la nuit que vous allez passer, que ce soit à un QG, sur une aire, chez le chocho ou ailleurs ! <br/>
      Pensez également à prendre <strong class="amber-text text-darken-1">du matériel pour dormir</strong>, duvet, sac de couchage.
    </p>
      <p>
      En terme de <strong class="amber-text text-darken-1">nourriture</strong>, vous avez le choix entre tout emporter ou vous ravitailler sur les aires d'autoroutes, mais ne vous surchargez pas non plus !
    </p>
  </div>
  </div>
</div>
