<div class="container flow-text-adapt">
  <div class="divider"></div>
  <div class="row">
    <h4 id="recommendation" class="center">Recommandations</h4>
  </div>
  <div class="col m6 s12">
      <p class="col hide-on-small-only">
        Un voyage en stop se prépare, spécialement si c’est un long trajet. Rien n'est à laisser au hasard : équipement, nourriture,
        forme, et mental !!<br/></p>

        <h5><i class="fa fa-flag lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>Choix de ton binôme</h5>


      <p>Le premier point, c'est de <strong class="amber-text text-darken-1">bien choisir ton binôme</strong>.
        Vous allez vivre une expérience certes unique, mais vous allez aussi vivre en symbiose pendant 48h, alors n'allez pas vous taper dessus !
      </p>

  </div>

  <div class="row valign-wrapper">

    <div class="col hide-on-small-only l5 m5">
    <img class="responsive-img valign hide-on-small-only" src="assets/img/evenement/check_list.png"></img>
  </div>

<div class="col l6 m6 offset-m1 s12 valign">

    <h5><i class="fa fa-flag yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>Equipement et matériel</h5>

    <ul>
      <li class="liste_elt">
        - Très important, le <strong class="amber-text text-darken-1">chargeur de portable</strong>.
      On a besoin de communiquer avec vous très régulièrement, alors si vous avez une batterie externe, un chargeur sur secteur ou sur cable USB, prenez !</li>
      <li class="liste_elt">
        - En équipement, <strong class="amber-text text-darken-1">une lampe torche</strong> est pertinente pour la nuit que vous allez passer, que ce soit à un QG, sur une aire, chez le chocho ou ailleurs !</li>
      <li class="liste_elt">
        - Mais surtout, pensez à prendre <strong class="amber-text text-darken-1">du matériel pour dormir</strong>, duvet, sac de couchage ! Les plus chanceux auront le bonheur de tester la nuit dans le parc ou sur une station service.</li>
      <li class="liste_elt">
        - En terme de <strong class="amber-text text-darken-1">vivres</strong>, vous pourrez vous ravitailler sur les aires d'autoroutes; ne vous surchargez pas, mais ayez des vivres !</li>
      <li class="liste_elt">
        - Une <strong class="amber-text text-darken-1">carte</strong> peut être utile si vous n'avez pas de smartphone ou projetez de passer à l'étranger...</li>
    </ul>

  </div>
  </div>
</div>
