---
layout: "material"
---

<div id="core-content">
	<script>
		function Onglets(id) {
			CloseMultiDiv('classement');
			document.getElementById(id).style.position='relative';
			document.getElementById(id).style.top='0px';
			document.getElementById(id).style.left='0px';
			document.getElementById(id).style.height='100%';
			document.getElementById(id).style.display='inline';
		}
			function CloseMultiDiv(Nom){
	        for (i=0; i<document.getElementsByTagName('div').length; i++) {
	            if (document.getElementsByTagName('div').item(i).className == Nom){
	                document.getElementsByTagName('div').item(i).style.display='none';
	                document.getElementsByTagName('div').item(i).style.position='absolute';
									document.getElementsByTagName('div').item(i).style.height='100vh';
	            }
	        }
	    }
		</script>
	<div id="login">{% include login.html %}</div>
	<div id="classements">{% include classements/classements_content.html %}</div>
	<div class="section row" id="signup" display="none">{% include signup_modal_form.html %}</div>
	<h4 class="center">Classements</h4>
	<div class="row section" id="pageclassement">
		<div class="col m2 striped z-depth-2" id="liensclassement">
			<ul>
				<li class="liensclassementtop"><a href="#" onclick="Onglets('classement2016');return false;">Classement 2016</a></li>
				<li class="liensclassementtop"><a href="#" onclick="Onglets('classementdefis');return false;">Classement défis</a></li>
				<li class="liensclassementtop"><a href="#" onclick="Onglets('classement25');return false;">Top 25</a></li>
				<li class="hrclassement"><hr/></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2015');return false;">Classement 2015</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2014');return false;">Classement 2014</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2013');return false;">Classement 2013</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2012');return false;">Classement 2012</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2011');return false;">Classement 2011</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2010');return false;">Classement 2010</a></li>
				<li class="liensclassementbot"><a href="#" onclick="Onglets('classement2009');return false;">Classement 2009</a></li>

		</div>
		<div class="col m10">
			<div class="classement" id="classement2016">{% include classements/classement2016.html %}</div>
			<div class="classement" id="classementdefis" display="none">{% include classements/classementdefis.html %}</div>
			<div class="classement" id="classement25" display="none">{% include classements/classement25.html %}</div>
		</div>
	</div>
</div>
