---
layout: "material"
---

<div id="core-content">
	<div id="login">{% include login.html %}</div>
	<div id="firstscreen">{% include firstscreen.html %}</div>
	<div class="section row center" id="review">{% include review.html %}</div>
	<div class="section row"><div class="divider"></div></div>
	<div class="section row" id="signup">{% include signup.html %}</div>
	<div class="row" id="youtube_player">{% include youtube_player.html %}</div>
	<div class="section row" id="block3parts">{% include block3parts.html %}</div>
	<div class="section row" id="whatis">{% include whatis.html %}</div>
	<div class="section row" id="schools">{% include schools.html %}</div>
	<div class="section row valign-wrapper" id="whynot">{% include whynot.html %}</div>
</div>
