---
layout: "material_accueil"
---


<div id="core-content">
	<div id="login">{% include login.html %}</div>
	<div id="firstscreen">{% include index/firstscreen.html %}</div>
	<div class="section section_small row center" id="review">{% include index/review.html %}</div>
	<div class="section section_small row" id="numbers">{% include index/numbers.html %}</div>
	<div class="section section_small row" id="signup">{% include index/signup.html %}</div>
	<div class="row center hide-on-med-and-down" id="whatis">{% include index/whatis.html %}</div>
	<div class="section section_small row" id="schools">{% include index/schools.html %}</div>
	<!--<div class="section section_small row" id="partenaires">{% include index/partenaires.html.inutile %}</div>-->
</div>
<script>
function miseAJourLargeurParallaxAccueil () {
	var elt= $(document.getElementsByClassName('parallax-container').item(0));
	elt.width($( window ).width()+1);
}
	$(document).ready(miseAJourLargeurParallaxAccueil);
	$(window).on('resize',miseAJourLargeurParallaxAccueil);
</script>
