<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      Pouce d'Or - Gaëlle & Olivier
      <div class='secondary-content hide-on-small-only'>
        1410 km points - Linz
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Linz</b>.<br>
      Gaëlle & Olivier totalisent donc <b>1410 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce d'Argent - Romain & Florent
      <div class='secondary-content hide-on-small-only'>
        1362 km points - Salzburg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Salzburg</b>.<br>
      Romain & Florent totalisent donc <b>1362 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce de Bronze - Jonas & Benoît
      <div class='secondary-content hide-on-small-only'>
        1211 km points - Munich
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Jonas & Benoît totalisent donc <b>1211 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Ludovic & Aurélien
      <div class='secondary-content hide-on-small-only'>
        1133 km points - Juan Les Pins
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Juan Les Pins</b>.<br>
      Ludovic & Aurélien totalisent donc <b>1133 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Axel & Aude
      <div class='secondary-content hide-on-small-only'>
        960 km points - Barcelone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Axel & Aude totalisent donc <b>960 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Thomas & Matthieu
      <div class='secondary-content hide-on-small-only'>
        882 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Thomas & Matthieu totalisent donc <b>882 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Sofia & Maxime
      <div class='secondary-content hide-on-small-only'>
        882 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Sofia & Maxime totalisent donc <b>882 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Thibault & Michaël
      <div class='secondary-content hide-on-small-only'>
        882 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Thibault & Michaël totalisent donc <b>882 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Antoine & Julia
      <div class='secondary-content hide-on-small-only'>
        882 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Antoine & Julia totalisent donc <b>882 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Marie & Jean Batiste
      <div class='secondary-content hide-on-small-only'>
        882 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Marie & Jean Batiste totalisent donc <b>882 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Guillaume & Fedi
      <div class='secondary-content hide-on-small-only'>
        825 km points - La Jonquera
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>La Jonquera</b>.<br>
      Guillaume & Fedi totalisent donc <b>825 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Gildas & Nicolas
      <div class='secondary-content hide-on-small-only'>
        775 km points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Gildas & Nicolas totalisent donc <b>775 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      13 - Pierre & Alxandre
      <div class='secondary-content hide-on-small-only'>
        742 km points - Palavas Les Flots
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Palavas Les Flots</b>.<br>
      Pierre & Alxandre totalisent donc <b>742 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - Olivier & Alexis
      <div class='secondary-content hide-on-small-only'>
        721 km points - Anvers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Olivier & Alexis totalisent donc <b>721 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Sophie & Jean Camille
      <div class='secondary-content hide-on-small-only'>
        675 km points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Sophie & Jean Camille totalisent donc <b>675 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Nicolas & Batiste
      <div class='secondary-content hide-on-small-only'>
        597 km points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Nicolas & Batiste totalisent donc <b>597 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Claire & Christophe
      <div class='secondary-content hide-on-small-only'>
        567 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Claire & Christophe totalisent donc <b>567 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      18 - Maxime & Martin
      <div class='secondary-content hide-on-small-only'>
        547 km points - Saint Sebastien
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Sebastien</b>.<br>
      Maxime & Martin totalisent donc <b>547 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Camille & Charles
      <div class='secondary-content hide-on-small-only'>
        700 km (3h de retard) points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Camille & Charles totalisent donc <b>700 km (3h de retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - Aurélien & Astrid
      <div class='secondary-content hide-on-small-only'>
        380 km points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Aurélien & Astrid totalisent donc <b>380 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - Damien & Guillaume
      <div class='secondary-content hide-on-small-only'>
        380 km points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Damien & Guillaume totalisent donc <b>380 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Nicolas & Jerôme
      <div class='secondary-content hide-on-small-only'>
        376 km points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Nicolas & Jerôme totalisent donc <b>376 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Aurélien & Stéphane
      <div class='secondary-content hide-on-small-only'>
        376 km points - Le Havre
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Le Havre</b>.<br>
      Aurélien & Stéphane totalisent donc <b>376 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Julien & Emmanuel
      <div class='secondary-content hide-on-small-only'>
        547 km (3h de retard) points - Saint Sebastien
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Sebastien</b>.<br>
      Julien & Emmanuel totalisent donc <b>547 km (3h de retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Thomas & Maxime
      <div class='secondary-content hide-on-small-only'>
        547 km(3h de retard) points - Saint Sebastien
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Sebastien</b>.<br>
      Thomas & Maxime totalisent donc <b>547 km(3h de retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Gaspard & Vivien
      <div class='secondary-content hide-on-small-only'>
        194 km points - Tours
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Tours</b>.<br>
      Gaspard & Vivien totalisent donc <b>194 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      27 - Simon & Edouard
      <div class='secondary-content hide-on-small-only'>
        592 km points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Simon & Edouard totalisent donc <b>592 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      28 - Mélanie & Maël
      <div class='secondary-content hide-on-small-only'>
        374 km (7h de retard: Prix de l'Echec ) points - Mont Saint-Michel
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mont Saint-Michel</b>.<br>
      Mélanie & Maël totalisent donc <b>374 km (7h de retard: Prix de l'Echec )</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      29 - Noé & Cédric
      <div class='secondary-content hide-on-small-only'>
        882 km (40h de retard) points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Noé & Cédric totalisent donc <b>882 km (40h de retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      30 - Guillaume & Clément
      <div class='secondary-content hide-on-small-only'>
        844 km (36h de retard) points - Ultrecht
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Ultrecht</b>.<br>
      Guillaume & Clément totalisent donc <b>844 km (36h de retard)</b> points.
  </li>
</ul>
