<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      Pouce d'Or - Simon & Marie
      <div class='secondary-content hide-on-small-only'>
        775 km points - Madrid
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Madrid</b>.<br>
      Simon & Marie totalisent donc <b>775 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce d'Argent - Stevan & Thomas
      <div class='secondary-content hide-on-small-only'>
        716 km points - Barcelone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Stevan & Thomas totalisent donc <b>716 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce de Bronze - Clément & Yannick
      <div class='secondary-content hide-on-small-only'>
        630 km points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Clément & Yannick totalisent donc <b>630 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Emmanuel & Benoit
      <div class='secondary-content hide-on-small-only'>
        497 km points - Pampelona
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Pampelona</b>.<br>
      Emmanuel & Benoit totalisent donc <b>497 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Jennifer & Kevin
      <div class='secondary-content hide-on-small-only'>
        457 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Jennifer & Kevin totalisent donc <b>457 km</b> points.
  </li>
</ul>
