<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      Pouce d'Or - Isaure & Mathieu
      <div class='secondary-content hide-on-small-only'>
        1055 km points - Bologne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bologne</b>.<br>
      Isaure & Mathieu totalisent donc <b>1055 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce d'Argent - Romain & Richard
      <div class='secondary-content hide-on-small-only'>
        995 km points - Alicante
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Alicante</b>.<br>
      Romain & Richard totalisent donc <b>995 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce de Bronze - Elodie & Thimothée
      <div class='secondary-content hide-on-small-only'>
        820 km points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Elodie & Thimothée totalisent donc <b>820 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Thomas & Slam
      <div class='secondary-content hide-on-small-only'>
        665 km points - Maastricht
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Maastricht</b>.<br>
      Thomas & Slam totalisent donc <b>665 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Elodie & Thomas
      <div class='secondary-content hide-on-small-only'>
        660 km points - Corogne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Corogne</b>.<br>
      Elodie & Thomas totalisent donc <b>660 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Romain & Gautier
      <div class='secondary-content hide-on-small-only'>
        605 km points - Orange
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Orange</b>.<br>
      Romain & Gautier totalisent donc <b>605 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      7 - Léo & KikaÔ
      <div class='secondary-content hide-on-small-only'>
        600 km points - Andorre
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Andorre</b>.<br>
      Léo & KikaÔ totalisent donc <b>600 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Muriel & Frederic
      <div class='secondary-content hide-on-small-only'>
        510 km points - Menen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Menen</b>.<br>
      Muriel & Frederic totalisent donc <b>510 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Charles & Damien
      <div class='secondary-content hide-on-small-only'>
        490 km points - Dijon
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Dijon</b>.<br>
      Charles & Damien totalisent donc <b>490 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Adrien & Thibault
      <div class='secondary-content hide-on-small-only'>
        470 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Adrien & Thibault totalisent donc <b>470 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Christophe & Yannou
      <div class='secondary-content hide-on-small-only'>
        470 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Christophe & Yannou totalisent donc <b>470 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Antoine & Etienne
      <div class='secondary-content hide-on-small-only'>
        445 km points - Bilbao
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bilbao</b>.<br>
      Antoine & Etienne totalisent donc <b>445 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Grégory & Rémi
      <div class='secondary-content hide-on-small-only'>
        445 km points - Bilbao
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bilbao</b>.<br>
      Grégory & Rémi totalisent donc <b>445 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - Sylvain & Stéphanie
      <div class='secondary-content hide-on-small-only'>
        445 km points - Roanne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Roanne</b>.<br>
      Sylvain & Stéphanie totalisent donc <b>445 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Ben & Touff
      <div class='secondary-content hide-on-small-only'>
        355 km points - Dieppe
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Dieppe</b>.<br>
      Ben & Touff totalisent donc <b>355 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Felipe & Rodrigo
      <div class='secondary-content hide-on-small-only'>
        330 km points - Antony
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Antony</b>.<br>
      Felipe & Rodrigo totalisent donc <b>330 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Pierre & Adrien
      <div class='secondary-content hide-on-small-only'>
        270 km points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Pierre & Adrien totalisent donc <b>270 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      18 - Vincent & Simon
      <div class='secondary-content hide-on-small-only'>
        175 km points - Saintes
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saintes</b>.<br>
      Vincent & Simon totalisent donc <b>175 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Cyril & Pierre
      <div class='secondary-content hide-on-small-only'>
        165 km points - Poitiers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Poitiers</b>.<br>
      Cyril & Pierre totalisent donc <b>165 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - Youyou & Jeannot
      <div class='secondary-content hide-on-small-only'>
        155 km points - Le Mans
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Le Mans</b>.<br>
      Youyou & Jeannot totalisent donc <b>155 km</b> points.
  </li>
</ul>
