<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      1 - Tobias & Anaëlle
      <div class='secondary-content hide-on-small-only'>
        1211 km points - Munich
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Tobias & Anaëlle totalisent donc <b>1211 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      1 - Loic & Angelo
      <div class='secondary-content hide-on-small-only'>
        1211 km points - Munich
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Loic & Angelo totalisent donc <b>1211 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      3 - Mathieu & Jehane
      <div class='secondary-content hide-on-small-only'>
        1001 km points - Stuttgart
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Stuttgart</b>.<br>
      Mathieu & Jehane totalisent donc <b>1001 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Maëlle & Guilhem
      <div class='secondary-content hide-on-small-only'>
        944 km points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Maëlle & Guilhem totalisent donc <b>944 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Gabriel & Jonas
      <div class='secondary-content hide-on-small-only'>
        857 km points - Eisenberg (Pfalz)
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Eisenberg (Pfalz)</b>.<br>
      Gabriel & Jonas totalisent donc <b>857 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Julien & Claire
      <div class='secondary-content hide-on-small-only'>
        775 km points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Julien & Claire totalisent donc <b>775 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Maxime & Sébastien
      <div class='secondary-content hide-on-small-only'>
        775 km points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Maxime & Sébastien totalisent donc <b>775 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Marion & Leopold
      <div class='secondary-content hide-on-small-only'>
        766 km points - Saarbrucken
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saarbrucken</b>.<br>
      Marion & Leopold totalisent donc <b>766 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Lucie & Karim
      <div class='secondary-content hide-on-small-only'>
        745 km points - Liège
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Liège</b>.<br>
      Lucie & Karim totalisent donc <b>745 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Julie & Antoine
      <div class='secondary-content hide-on-small-only'>
        719 km points - Marinda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Marinda</b>.<br>
      Julie & Antoine totalisent donc <b>719 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Jonas & Antoine
      <div class='secondary-content hide-on-small-only'>
        719 km points - Marinda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Marinda</b>.<br>
      Jonas & Antoine totalisent donc <b>719 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Nicolas & Marion
      <div class='secondary-content hide-on-small-only'>
        700 km points - Monaco
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Monaco</b>.<br>
      Nicolas & Marion totalisent donc <b>700 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Fabien & Benjamin
      <div class='secondary-content hide-on-small-only'>
        700 km points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Fabien & Benjamin totalisent donc <b>700 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - Marc & Vincent
      <div class='secondary-content hide-on-small-only'>
        697 km points - Brin sur seille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Brin sur seille</b>.<br>
      Marc & Vincent totalisent donc <b>697 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Thiago & Katinka
      <div class='secondary-content hide-on-small-only'>
        685 km points - Vitoria-Gasteiz
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Vitoria-Gasteiz</b>.<br>
      Thiago & Katinka totalisent donc <b>685 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Yves-Marie & Cyrine
      <div class='secondary-content hide-on-small-only'>
        675 km points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Yves-Marie & Cyrine totalisent donc <b>675 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Tanguy & Joffray
      <div class='secondary-content hide-on-small-only'>
        675 km points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Tanguy & Joffray totalisent donc <b>675 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      18 - Flore & Maxime
      <div class='secondary-content hide-on-small-only'>
        642 km points - Pamplone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Pamplone</b>.<br>
      Flore & Maxime totalisent donc <b>642 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Julien & Antoine
      <div class='secondary-content hide-on-small-only'>
        588 km points - Saint Sebastien
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Sebastien</b>.<br>
      Julien & Antoine totalisent donc <b>588 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Olivier & Noël
      <div class='secondary-content hide-on-small-only'>
        588 km points - Saint Sebastien
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Sebastien</b>.<br>
      Olivier & Noël totalisent donc <b>588 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Marco & Pedro
      <div class='secondary-content hide-on-small-only'>
        570 km points - Irun
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Irun</b>.<br>
      Marco & Pedro totalisent donc <b>570 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Fereol & Marion
      <div class='secondary-content hide-on-small-only'>
        567 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Fereol & Marion totalisent donc <b>567 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Maud & François-Michel
      <div class='secondary-content hide-on-small-only'>
        562 km points - Cologne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Cologne</b>.<br>
      Maud & François-Michel totalisent donc <b>562 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Raphaël & Baptiste
      <div class='secondary-content hide-on-small-only'>
        561 km points - Offenburg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Offenburg</b>.<br>
      Raphaël & Baptiste totalisent donc <b>561 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      25 - Emmanuel & Pierre
      <div class='secondary-content hide-on-small-only'>
        380 km points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Emmanuel & Pierre totalisent donc <b>380 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Terence & Jeremy
      <div class='secondary-content hide-on-small-only'>
        376 km points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Terence & Jeremy totalisent donc <b>376 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      27 - Guillaume & Fabien
      <div class='secondary-content hide-on-small-only'>
        376 km points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Guillaume & Fabien totalisent donc <b>376 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      28 - Benjamin & Simon
      <div class='secondary-content hide-on-small-only'>
        329 km points - Cubzac-les-ponts
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Cubzac-les-ponts</b>.<br>
      Benjamin & Simon totalisent donc <b>329 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      28 - Ion & Thibault
      <div class='secondary-content hide-on-small-only'>
        329 km points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Ion & Thibault totalisent donc <b>329 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      30 - Flavio & Roberto
      <div class='secondary-content hide-on-small-only'>
        329 km points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Flavio & Roberto totalisent donc <b>329 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      31 - Gauthier & Eddy
      <div class='secondary-content hide-on-small-only'>
        86 km points - Angers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Angers</b>.<br>
      Gauthier & Eddy totalisent donc <b>86 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      32 - Nicolas & Florian
      <div class='secondary-content hide-on-small-only'>
        9 km points - Carquefou
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Carquefou</b>.<br>
      Nicolas & Florian totalisent donc <b>9 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Rémi & Alice
      <div class='secondary-content hide-on-small-only'>
        -218 km points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Rémi & Alice totalisent donc <b>-218 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      34 - Florian & Victor
      <div class='secondary-content hide-on-small-only'>
        -728 km points - Poznan
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Poznan</b>.<br>
      Florian & Victor totalisent donc <b>-728 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      35 - Valentin & Fabien
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Barcelone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Valentin & Fabien totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Lisa & Paul
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Lisa & Paul totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Charles & Typhaine
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Charles & Typhaine totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      38 - Simon & Caroline
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Cologne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Cologne</b>.<br>
      Simon & Caroline totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      39 - Mériadec & Robin
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Rotterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rotterdam</b>.<br>
      Mériadec & Robin totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Loic & Yann
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Anvers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Loic & Yann totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      41 - Charles & Antoine
      <div class='secondary-content hide-on-small-only'>
        Eliminé : A pris sa voiture points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Charles & Antoine totalisent donc <b>Eliminé : A pris sa voiture</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      41 - Axel & Vincent
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Axel & Vincent totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      43 - Marc-Antoine & Victor
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Marc-Antoine & Victor totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Jean-Baptiste & Matias
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Jean-Baptiste & Matias totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      45 - Geoffrey & Clément
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Geoffrey & Clément totalisent donc <b>Eliminé : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      46 - Claire & Arthur
      <div class='secondary-content hide-on-small-only'>
        Eliminé : Train points - Caen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Caen</b>.<br>
      Claire & Arthur totalisent donc <b>Eliminé : Train</b> points.
  </li>
</ul>
