<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      Pouce d'Or - Pierre-Yves & Henri
      <div class='secondary-content hide-on-small-only'>
        584 km points - Montpellier
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Montpellier</b>.<br>
      Pierre-Yves & Henri totalisent donc <b>584 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce d'Argent - Youenn & Jean
      <div class='secondary-content hide-on-small-only'>
        498 km points - Somain
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Somain</b>.<br>
      Youenn & Jean totalisent donc <b>498 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      Pouce de Bronze - Antoine & Barbara
      <div class='secondary-content hide-on-small-only'>
        457 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Antoine & Barbara totalisent donc <b>457 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Florent & Romain
      <div class='secondary-content hide-on-small-only'>
        457 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Florent & Romain totalisent donc <b>457 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Thibault & Emanuel
      <div class='secondary-content hide-on-small-only'>
        457 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Thibault & Emanuel totalisent donc <b>457 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Christophe & Damien
      <div class='secondary-content hide-on-small-only'>
        457 km points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Christophe & Damien totalisent donc <b>457 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      7 - Charles & Damien
      <div class='secondary-content hide-on-small-only'>
        343 km points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Charles & Damien totalisent donc <b>343 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Xuan-Kong & Adrien
      <div class='secondary-content hide-on-small-only'>
        278 km points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Xuan-Kong & Adrien totalisent donc <b>278 km</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Thomas & Julien
      <div class='secondary-content hide-on-small-only'>
        169Kms points - Tours
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Tours</b>.<br>
      Thomas & Julien totalisent donc <b>169Kms</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Etienne & Adrien
      <div class='secondary-content hide-on-small-only'>
        343 km (Train au retour) points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Etienne & Adrien totalisent donc <b>343 km (Train au retour)</b> points.
  </li>
</ul>
