
<ul class="collapsible z-depth-2" data-collapsible=accordion>  <li>
    <div class='collapsible-header'>
      1 - Kristell & Felix
      <div class='secondary-content hide-on-small-only'>
        1576 points - Copenhague
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Copenhague</b>.<br>
      Kristell & Felix totalisent donc <b>1576</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      1 - Cédric & Rozenn
      <div class='secondary-content hide-on-small-only'>
        1409 points - Florence
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Florence</b>.<br>
      Cédric & Rozenn totalisent donc <b>1409</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      3 - Marie & Antoine
      <div class='secondary-content hide-on-small-only'>
        1278 points - Hambourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Hambourg</b>.<br>
      Marie & Antoine totalisent donc <b>1278</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Farah & Marc
      <div class='secondary-content hide-on-small-only'>
        1211 points - Munich
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Farah & Marc totalisent donc <b>1211</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Aurélie & Michael
      <div class='secondary-content hide-on-small-only'>
        1211 points - Munich
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Aurélie & Michael totalisent donc <b>1211</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Alain & Loïc
      <div class='secondary-content hide-on-small-only'>
        1041 points - Singen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Singen</b>.<br>
      Alain & Loïc totalisent donc <b>1041</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      7 - Marine & Pierre-Olivier
      <div class='secondary-content hide-on-small-only'>
        1011 points - Salamanque
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Salamanque</b>.<br>
      Marine & Pierre-Olivier totalisent donc <b>1011</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Michel & François
      <div class='secondary-content hide-on-small-only'>
        896 points - Morgex
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Morgex</b>.<br>
      Michel & François totalisent donc <b>896</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Florent & JB
      <div class='secondary-content hide-on-small-only'>
        882 points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Florent & JB totalisent donc <b>882</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Lin & Gérard
      <div class='secondary-content hide-on-small-only'>
        882 points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Lin & Gérard totalisent donc <b>882</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Coralie & Tommy
      <div class='secondary-content hide-on-small-only'>
        833 points - Rotterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rotterdam</b>.<br>
      Coralie & Tommy totalisent donc <b>833</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Céline & Florent
      <div class='secondary-content hide-on-small-only'>
        833 points - Rotterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rotterdam</b>.<br>
      Céline & Florent totalisent donc <b>833</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Marine & Benoît
      <div class='secondary-content hide-on-small-only'>
        833 points - Rotterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rotterdam</b>.<br>
      Marine & Benoît totalisent donc <b>833</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - Hugo & Thomas
      <div class='secondary-content hide-on-small-only'>
        825 points - La Jonquera
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>La Jonquera</b>.<br>
      Hugo & Thomas totalisent donc <b>825</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Hugo & Thomas
      <div class='secondary-content hide-on-small-only'>
        779 points - Maastricht
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Maastricht</b>.<br>
      Hugo & Thomas totalisent donc <b>779</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Diane & Maxime
      <div class='secondary-content hide-on-small-only'>
        775 points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Diane & Maxime totalisent donc <b>775</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Marion & Stéphane
      <div class='secondary-content hide-on-small-only'>
        749 points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Marion & Stéphane totalisent donc <b>749</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Maxime & Adrien
      <div class='secondary-content hide-on-small-only'>
        749 points - Luxembourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Luxembourg</b>.<br>
      Maxime & Adrien totalisent donc <b>749</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Aline & Alexis
      <div class='secondary-content hide-on-small-only'>
        740 points - Besançon
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Besançon</b>.<br>
      Aline & Alexis totalisent donc <b>740</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - Camille & Clément
      <div class='secondary-content hide-on-small-only'>
        725 points - Anvers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Camille & Clément totalisent donc <b>725</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Amandine & Thomas
      <div class='secondary-content hide-on-small-only'>
        708 points - Metz
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Metz</b>.<br>
      Amandine & Thomas totalisent donc <b>708</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Joan & Marc
      <div class='secondary-content hide-on-small-only'>
        708 points - Metz
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Metz</b>.<br>
      Joan & Marc totalisent donc <b>708</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Noémie & Paul
      <div class='secondary-content hide-on-small-only'>
        880-200=680 points - D¸sseldorf
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>D¸sseldorf</b>.<br>
      Noémie & Paul totalisent donc <b>880-200=680</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Marie & Pierre
      <div class='secondary-content hide-on-small-only'>
        675 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Marie & Pierre totalisent donc <b>675</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Florent & Maxime
      <div class='secondary-content hide-on-small-only'>
        675 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Florent & Maxime totalisent donc <b>675</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Victor & Benjamin
      <div class='secondary-content hide-on-small-only'>
        675 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Victor & Benjamin totalisent donc <b>675</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Charlotte & Gautier
      <div class='secondary-content hide-on-small-only'>
        675 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Charlotte & Gautier totalisent donc <b>675</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Maxime & Julien
      <div class='secondary-content hide-on-small-only'>
        675 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Maxime & Julien totalisent donc <b>675</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      29 - Marianne & Pierre
      <div class='secondary-content hide-on-small-only'>
        667 points - Menin
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Menin</b>.<br>
      Marianne & Pierre totalisent donc <b>667</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      30 - Margaux & Vincent
      <div class='secondary-content hide-on-small-only'>
        662 points - De panne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>De panne</b>.<br>
      Margaux & Vincent totalisent donc <b>662</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      30 - Constance & Adrian
      <div class='secondary-content hide-on-small-only'>
        662 points - De panne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>De panne</b>.<br>
      Constance & Adrian totalisent donc <b>662</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      32 - Ariane & Vladimir
      <div class='secondary-content hide-on-small-only'>
        643 points - Dunkerque
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Dunkerque</b>.<br>
      Ariane & Vladimir totalisent donc <b>643</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Chloé & Florian
      <div class='secondary-content hide-on-small-only'>
        604 points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Chloé & Florian totalisent donc <b>604</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Morgane & Jing
      <div class='secondary-content hide-on-small-only'>
        604 points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Morgane & Jing totalisent donc <b>604</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Guillaume & Olivier
      <div class='secondary-content hide-on-small-only'>
        604 points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Guillaume & Olivier totalisent donc <b>604</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Cécile & Florent
      <div class='secondary-content hide-on-small-only'>
        588 points - San Sebastian
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>San Sebastian</b>.<br>
      Cécile & Florent totalisent donc <b>588</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      37 - Lucas & Pierre-Luc
      <div class='secondary-content hide-on-small-only'>
        495 points - Auxerre
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Auxerre</b>.<br>
      Lucas & Pierre-Luc totalisent donc <b>495</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      38 - Anne & Alexis
      <div class='secondary-content hide-on-small-only'>
        464 points - CompiËgne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>CompiËgne</b>.<br>
      Anne & Alexis totalisent donc <b>464</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      39 - Pierre & Baptiste
      <div class='secondary-content hide-on-small-only'>
        960-500=460 points - Barcelone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Pierre & Baptiste totalisent donc <b>960-500=460</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Sam & Guillaume
      <div class='secondary-content hide-on-small-only'>
        383 points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Sam & Guillaume totalisent donc <b>383</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Pierre & Jean-Baptiste
      <div class='secondary-content hide-on-small-only'>
        383 points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Pierre & Jean-Baptiste totalisent donc <b>383</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      42 - Boris & Bastien
      <div class='secondary-content hide-on-small-only'>
        376 points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Boris & Bastien totalisent donc <b>376</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      43 - Clémence & Luc
      <div class='secondary-content hide-on-small-only'>
        185 points - Le Mans
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Le Mans</b>.<br>
      Clémence & Luc totalisent donc <b>185</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Blanca & Valentin
      <div class='secondary-content hide-on-small-only'>
        1863-4000=-2137 points - Budapest
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Budapest</b>.<br>
      Blanca & Valentin totalisent donc <b>1863-4000=-2137</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Sara & Boris
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Stuttgart
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Stuttgart</b>.<br>
      Sara & Boris totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Agathe & Jordane
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Mainz
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mainz</b>.<br>
      Agathe & Jordane totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Antonin & David
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Antonin & David totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Mathieu & Baptiste
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Strasbourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Strasbourg</b>.<br>
      Mathieu & Baptiste totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Ellyn & Florent
      <div class='secondary-content hide-on-small-only'>
        Eliminés : A pris sa voiture points - Nancy
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Nancy</b>.<br>
      Ellyn & Florent totalisent donc <b>Eliminés : A pris sa voiture</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Guillerma & Thibault
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Guillerma & Thibault totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Alexandre & Eric
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - San Sebastian
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>San Sebastian</b>.<br>
      Alexandre & Eric totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Clément & Sylvainb
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Clément & Sylvainb totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Isabelle & Rudy
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Rouen
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Isabelle & Rudy totalisent donc <b>Eliminés : Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Théo & Julien
      <div class='secondary-content hide-on-small-only'>
        Eliminés : Train points - Bruges
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruges</b>.<br>
      Théo & Julien totalisent donc <b>Eliminés : Train</b> points.
  </li>
</ul>
