<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      1 - Les tocards
      <div class='secondary-content hide-on-small-only'>
        1012 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Boulogne sur Mer</b>.<br>
      Soit <b>1012</b> km depuis <b>Marseille</b>.<br>
      Etienne & Thomas totalisent donc <b>1012</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      2 - Sam et Frodon
      <div class='secondary-content hide-on-small-only'>
        965 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Marseille</b>.<br>
      Soit <b>965</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>965</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      3 - La Crise Team
      <div class='secondary-content hide-on-small-only'>
        921 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mons</b>.<br>
      Soit <b>921</b> km depuis <b>Marseille</b>.<br>
      Philippe & Isabelle & Robin totalisent donc <b>921</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - BerlinGo
      <div class='secondary-content hide-on-small-only'>
        840 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Aachen</b>.<br>
      Soit <b>815</b> km depuis <b>Nantes</b>.<br>
      Mathilde & Thomas totalisent donc <b>840</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - En route Simone
      <div class='secondary-content hide-on-small-only'>
        768 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>768</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>768</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      6 - Albor
      <div class='secondary-content hide-on-small-only'>
        746 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Grenoble</b>.<br>
      Soit <b>746</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>746</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      7 - Squatacaisse
      <div class='secondary-content hide-on-small-only'>
        742 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Albertville</b>.<br>
      Soit <b>742</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>742</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - PouciPouça
      <div class='secondary-content hide-on-small-only'>
        737 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lyon Sud ENS</b>.<br>
      Soit <b>687</b> km depuis <b>Nantes</b>.<br>
      Flore &: Félix totalisent donc <b>737</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - IronThumbs
      <div class='secondary-content hide-on-small-only'>
        716 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Givors</b>.<br>
      Soit <b>701</b> km depuis <b>Nantes</b>.<br>
      Mathieu & Bastien totalisent donc <b>716</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Tip n'Stop
      <div class='secondary-content hide-on-small-only'>
        698 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>688</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>698</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - La roue folle
      <div class='secondary-content hide-on-small-only'>
        695 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>St Etienne</b>.<br>
      Soit <b>665</b> km depuis <b>Nantes</b>.<br>
      Bertille & Guillaume totalisent donc <b>695</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - Paper Planes
      <div class='secondary-content hide-on-small-only'>
        688 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Quiberon</b>.<br>
      Soit <b>688</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>688</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      13 - Pouce1
      <div class='secondary-content hide-on-small-only'>
        688 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>688</b> km depuis <b>Nantes</b>.<br>
      Loïc & Elodie totalisent donc <b>688</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - The Good, the Bad and Nobody else
      <div class='secondary-content hide-on-small-only'>
        688 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>688</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>688</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Les écrevisses roses
      <div class='secondary-content hide-on-small-only'>
        669 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bayonne</b>.<br>
      Soit <b>669</b> km depuis <b>Marseille</b>.<br>
      Yves-Henri & Alexandre totalisent donc <b>669</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Les dupont et dupond
      <div class='secondary-content hide-on-small-only'>
        655 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Hambourg</b>.<br>
      Soit <b>655</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>655</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Los macarenos locos
      <div class='secondary-content hide-on-small-only'>
        652 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lyon</b>.<br>
      Soit <b>652</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>652</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      18 - La Routourne
      <div class='secondary-content hide-on-small-only'>
        643 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Soit <b>603</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>643</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Wei Pollice
      <div class='secondary-content hide-on-small-only'>
        616 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      Roberto & Auriane totalisent donc <b>616</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - Les Poussinets
      <div class='secondary-content hide-on-small-only'>
        613 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Soit <b>603</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>613</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Kitty d'or
      <div class='secondary-content hide-on-small-only'>
        608 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Soit <b>603</b> km depuis <b>Nantes</b>.<br>
      Paul & Quentin totalisent donc <b>608</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les Fifous
      <div class='secondary-content hide-on-small-only'>
        601 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      Baptiste & Hippolyte totalisent donc <b>601</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      23 - ?
      <div class='secondary-content hide-on-small-only'>
        596 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>596</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      24 - Skydrivers
      <div class='secondary-content hide-on-small-only'>
        596 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      Lucile & Antoine totalisent donc <b>596</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      25 - Pouce VS Wild
      <div class='secondary-content hide-on-small-only'>
        595 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Donostia/San Sebastian</b>.<br>
      Soit <b>595</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>595</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Les Pouce le bouchon un peu trop loin
      <div class='secondary-content hide-on-small-only'>
        595 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Donostia/San Sebastian</b>.<br>
      Soit <b>595</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>595</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      27 - Pussa via
      <div class='secondary-content hide-on-small-only'>
        586 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>586</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      28 - Preum's
      <div class='secondary-content hide-on-small-only'>
        586 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>586</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      29 - Les Pouces-7
      <div class='secondary-content hide-on-small-only'>
        586 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>586</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      30 - Goumand
      <div class='secondary-content hide-on-small-only'>
        586 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>586</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>586</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      31 - Buzz l'éclair
      <div class='secondary-content hide-on-small-only'>
        585 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Basel</b>.<br>
      Soit <b>585</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>585</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      32 - Les Colibris
      <div class='secondary-content hide-on-small-only'>
        582 points - aggro montpellier
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Montcul</b>.<br>
      Soit <b>582</b> km depuis <b>Palaiseau</b>.<br>
      Eudes & Gabrielle totalisent donc <b>582</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Wazabi
      <div class='secondary-content hide-on-small-only'>
        552 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Jean de Luz</b>.<br>
      Soit <b>552</b> km depuis <b>Nantes</b>.<br>
      Laurence & Lucas totalisent donc <b>552</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      34 - David et ...
      <div class='secondary-content hide-on-small-only'>
        550 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Reins</b>.<br>
      Soit <b>520</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>550</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      35 - Les Poussettes
      <div class='secondary-content hide-on-small-only'>
        548 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Brême</b>.<br>
      Soit <b>548</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>548</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Les Quiches Marocaines
      <div class='secondary-content hide-on-small-only'>
        548 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Brême</b>.<br>
      Soit <b>548</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>548</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      37 - Frodon et Sam
      <div class='secondary-content hide-on-small-only'>
        548 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Brême</b>.<br>
      Soit <b>548</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>548</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      38 - Team Onetpumba
      <div class='secondary-content hide-on-small-only'>
        539 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Marseille</b>.<br>
      Soit <b>989</b> km depuis <b>Nantes</b>.<br>
      Jordan & Meik totalisent donc <b>539</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      39 - SeeMyPoussy
      <div class='secondary-content hide-on-small-only'>
        519 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Kassel</b>.<br>
      Soit <b>519</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>519</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Les Poullaz
      <div class='secondary-content hide-on-small-only'>
        516 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Munich</b>.<br>
      Soit <b>1216</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>516</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      41 - Les dragons d'or
      <div class='secondary-content hide-on-small-only'>
        515 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amiens</b>.<br>
      Soit <b>507</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>515</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      42 - LS Supertramp
      <div class='secondary-content hide-on-small-only'>
        503 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Dijon</b>.<br>
      Soit <b>503</b> km depuis <b>Marseille</b>.<br>
      Stéphane & Lisa totalisent donc <b>503</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      43 - Les Speedy Gonzales
      <div class='secondary-content hide-on-small-only'>
        498 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Soit <b>498</b> km depuis <b>Marseille</b>.<br>
      Thibault & Eugénie totalisent donc <b>498</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Les esquimaux
      <div class='secondary-content hide-on-small-only'>
        410 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Genèce</b>.<br>
      Soit <b>410</b> km depuis <b>Marseille</b>.<br>
      Antoine & Jonathan totalisent donc <b>410</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      45 - Saucisson
      <div class='secondary-content hide-on-small-only'>
        398 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Courneuve</b>.<br>
      Soit <b>398</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>398</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      46 - Les Pousses Café
      <div class='secondary-content hide-on-small-only'>
        398 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Soit <b>388</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>398</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      47 - Les Pouc'partout
      <div class='secondary-content hide-on-small-only'>
        398 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Soit <b>388</b> km depuis <b>Nantes</b>.<br>
      Clément & Justine totalisent donc <b>398</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      48 - Pouce me, I'm famous
      <div class='secondary-content hide-on-small-only'>
        390 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lagon</b>.<br>
      Soit <b>390</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>390</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les Beaux Gosses
      <div class='secondary-content hide-on-small-only'>
        388 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Soit <b>388</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>388</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      50 - DamTeam
      <div class='secondary-content hide-on-small-only'>
        388 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rouen</b>.<br>
      Soit <b>388</b> km depuis <b>Nantes</b>.<br>
      Mathieu & Simon totalisent donc <b>388</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      51 - Les Meninoes
      <div class='secondary-content hide-on-small-only'>
        386 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>386</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>386</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      52 - Oreos
      <div class='secondary-content hide-on-small-only'>
        386 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>386</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>386</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      53 - Les POUCEurs du repas de la veille
      <div class='secondary-content hide-on-small-only'>
        386 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Massy Palaiseau</b>.<br>
      Soit <b>386</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>386</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      54 - Clan Destin
      <div class='secondary-content hide-on-small-only'>
        380 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Le Barp</b>.<br>
      Soit <b>380</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>380</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      55 - Poupouce
      <div class='secondary-content hide-on-small-only'>
        368 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Talence</b>.<br>
      Soit <b>358</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>368</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      56 - Poucy waggon
      <div class='secondary-content hide-on-small-only'>
        357 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b>357</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>357</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      57 - Viajantes do Canal Vaginal
      <div class='secondary-content hide-on-small-only'>
        353 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>353</b> km depuis <b>Nantes</b>.<br>
      Pedro Ernesto & Rafael totalisent donc <b>353</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      58 - The Krauts
      <div class='secondary-content hide-on-small-only'>
        353 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b>353</b> km depuis <b>Nantes</b>.<br>
      Marius & Lasse totalisent donc <b>353</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      59 - PoucePousse
      <div class='secondary-content hide-on-small-only'>
        353 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>353</b> km depuis <b>Nantes</b>.<br>
      Lauriane & Pierre-Alexandre totalisent donc <b>353</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      60 - Franchinois
      <div class='secondary-content hide-on-small-only'>
        353 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>353</b> km depuis <b>Nantes</b>.<br>
      Arnaud & Quin totalisent donc <b>353</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      61 - Anonymes
      <div class='secondary-content hide-on-small-only'>
        353 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>353</b> km depuis <b>Nantes</b>.<br>
      L'équipe totalise donc <b>353</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      62 - Les globetrotterus
      <div class='secondary-content hide-on-small-only'>
        322 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Trier</b>.<br>
      Soit <b>322</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>322</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      63 - Les zizis
      <div class='secondary-content hide-on-small-only'>
        312 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lyon</b>.<br>
      Soit <b>312</b> km depuis <b>Marseille</b>.<br>
      Adrien & Thibault totalisent donc <b>312</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      64 - Vongola Family
      <div class='secondary-content hide-on-small-only'>
        312 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lyon</b>.<br>
      Soit <b>312</b> km depuis <b>Marseille</b>.<br>
      Yohan & Ludovic totalisent donc <b>312</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      65 - Sky is the limit
      <div class='secondary-content hide-on-small-only'>
        306 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Cologne</b>.<br>
      Soit <b>306</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>306</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      66 - Les Co-Loques
      <div class='secondary-content hide-on-small-only'>
        299 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Düsseldorf</b>.<br>
      Soit <b>299</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>299</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      67 - Cap'Iteem
      <div class='secondary-content hide-on-small-only'>
        282 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>282</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>282</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      68 - OctoPouce
      <div class='secondary-content hide-on-small-only'>
        237 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mont St Michel</b>.<br>
      Soit <b>197</b> km depuis <b>Nantes</b>.<br>
      Guillaume & Hélène totalisent donc <b>237</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      69 - Roadrunners
      <div class='secondary-content hide-on-small-only'>
        185 points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Nice</b>.<br>
      Soit <b>185</b> km depuis <b>Marseille</b>.<br>
      Adèle & Wilson totalisent donc <b>185</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      70 - Guacamole
      <div class='secondary-content hide-on-small-only'>
        182 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>282</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>182</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      71 - Les Baltringues
      <div class='secondary-content hide-on-small-only'>
        167 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Fougère</b>.<br>
      Soit <b>157</b> km depuis <b>Nantes</b>.<br>
      Quentin & Aurélien totalisent donc <b>167</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      72 - Les groupies
      <div class='secondary-content hide-on-small-only'>
        144 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b>144</b> km depuis <b>Nantes</b>.<br>
      Alexandre & Alexandre totalisent donc <b>144</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      73 - Les Pouce toi d'là
      <div class='secondary-content hide-on-small-only'>
        109 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>109</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>109</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      74 - BFS
      <div class='secondary-content hide-on-small-only'>
        109 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rennes</b>.<br>
      Soit <b>109</b> km depuis <b>Nantes</b>.<br>
      Jean-Marie & Alexis totalisent donc <b>109</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      75 - DiplodoDick
      <div class='secondary-content hide-on-small-only'>
        70 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Roche sur Yon</b>.<br>
      Soit <b>70</b> km depuis <b>Nantes</b>.<br>
      Sylvain & Guillaume totalisent donc <b>70</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      76 - Majeurs d'or
      <div class='secondary-content hide-on-small-only'>
        67 points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mons</b>.<br>
      Soit <b>67</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>67</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      77 - Forfun
      <div class='secondary-content hide-on-small-only'>
        13 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b>13</b> km depuis <b>Nantes</b>.<br>
      Léo & Flavio totalisent donc <b>13</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Mois mois mois ...
      <div class='secondary-content hide-on-small-only'>
        Train points - ECM
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Milan</b>.<br>
      Soit <b>504</b> km depuis <b>Marseille</b>.<br>
      Maylis & Dimitri totalisent donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Les solitaires
      <div class='secondary-content hide-on-small-only'>
        Train points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Mancy</b>.<br>
      Soit <b>368</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Pousse Pousse
      <div class='secondary-content hide-on-small-only'>
        Train points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Dortmund</b>.<br>
      Soit <b>359</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Los mafiosos
      <div class='secondary-content hide-on-small-only'>
        Train points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>215</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Lippoutou
      <div class='secondary-content hide-on-small-only'>
        Train points - ECL
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Soit <b>129</b> km depuis <b>Lille</b>.<br>
      L'équipe totalise donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Riders on the stop
      <div class='secondary-content hide-on-small-only'>
        Train points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Esteban & MC totalisent donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Los Borambos
      <div class='secondary-content hide-on-small-only'>
        Train points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Jérémy & Pierre-Marie totalisent donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Chartreuse et St Moret
      <div class='secondary-content hide-on-small-only'>
        Train points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Luis & Camille totalisent donc <b>Train</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Les Culs Linaires
      <div class='secondary-content hide-on-small-only'>
        Rester là-bas points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Guillaume & Belkacem totalisent donc <b>Rester là-bas</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - SpeculoOr
      <div class='secondary-content hide-on-small-only'>
        Echec points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Angers</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Fellipé & Daniel totalisent donc <b>Echec</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - The Rasta Riders
      <div class='secondary-content hide-on-small-only'>
        Echec points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Alban & Félix totalisent donc <b>Echec</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Les Pouceux d'Albion
      <div class='secondary-content hide-on-small-only'>
        Covoiturage payant points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Bruno & Rémi totalisent donc <b>Covoiturage payant</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Go Hight
      <div class='secondary-content hide-on-small-only'>
        Covoiturage payant points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Mann & Youness totalisent donc <b>Covoiturage payant</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Delegacion del Ghetto Gitano
      <div class='secondary-content hide-on-small-only'>
        Covoiturage payant points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Alicia & Alberto totalisent donc <b>Covoiturage payant</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      NC - Anonymes
      <div class='secondary-content hide-on-small-only'>
        Covoiturage payant points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Inconnue</b>.<br>
      Soit <b></b> km depuis <b>Nantes</b>.<br>
      Emmanuel & Etienne totalisent donc <b>Covoiturage payant</b> points.
  </li>
</ul>
