<ul class="collapsible z-depth-2" data-collapsible="accordion">
  <li>
    <div class='collapsible-header'>
      1 - Happy Feet
      <div class='secondary-content hide-on-small-only'>
        780 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Tank + 300<br>Autruche +80<br>autre QG +250<br>Petit Train +100<br>camion poubelle +50
  </li>
  <li>
    <div class='collapsible-header'>
      2 - Ense3
      <div class='secondary-content hide-on-small-only'>
        710 points - ENSE3
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Déclencher un feu d'artifice +500<br>Soirée karaoké +50<br>Soirée Bar Brésilien +50 avec les gilets jaunes + 10<br>enterrement de vie de jeune fille + 100
  </li>
  <li>
    <div class='collapsible-header'>
      3 - Los Poucequistadors
      <div class='secondary-content hide-on-small-only'>
        630 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Tour de France +500<br>Resto avec le chocho +50<br>Bouteille de champagne +50<br>Douche offerte sur l'autoroute +30
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Les Droit au pouce
      <div class='secondary-content hide-on-small-only'>
        470 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60<br>Invités à un anniv +200<br>Porsche +40<br>CRS +70<br>petit train +100
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Tanguy/Rodrigo
      <div class='secondary-content hide-on-small-only'>
        460 points - EC Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Avion +400<br>Tracteur tondeuse +50<br>Caddie +10
  </li>
  <li>
    <div class='collapsible-header'>
      6 - TeamPanier2
      <div class='secondary-content hide-on-small-only'>
        400 points - EC Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Voiture Sport +40<br>Trouver Charlie +30<br>Nettoyeuse de Rue +30<br>bateau +200<br>ancien pouceux +100
  </li>
  <li>
    <div class='collapsible-header'>
      7 - Les pouceaux
      <div class='secondary-content hide-on-small-only'>
        360 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      2 fois traverser un pays (Belgique Allemagne +120)<br>dormir chez l'chocho +200<br>voiture de luxe +40
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Les Platypouces
      <div class='secondary-content hide-on-small-only'>
        350 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Dormir chez le chocho +200<br>Voiture de luxe +40<br>Camion de pompier +70<br>voiture anglaise +40
  </li>
  <li>
    <div class='collapsible-header'>
      8 - Pur Penchak
      <div class='secondary-content hide-on-small-only'>
        350 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Camion Police +70<br>Fauteuil Roulant +30<br>voiture sport +40<br>Mariage +250
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Oktopouce Fest
      <div class='secondary-content hide-on-small-only'>
        340 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      2 fois traverser un pays (Luxembourg Belgique)+120<br>train +150<br>autocar +70
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Les cigales
      <div class='secondary-content hide-on-small-only'>
        300 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Anciens du Pouce d'Or +100<br>Baignade en Mediterranée +200
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Blanche Neige et Simplet
      <div class='secondary-content hide-on-small-only'>
        300 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Photos avec des mariés x2 : +300
  </li>
  <li>
    <div class='collapsible-header'>
      13 - Les insaportables
      <div class='secondary-content hide-on-small-only'>
        270 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Dépaneuse +70<br>Hébergé par le chauffeur +200
  </li>
  <li>
    <div class='collapsible-header'>
      14 - La cucaracha
      <div class='secondary-content hide-on-small-only'>
        260 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60<br>invités à une soirée +200
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Staff Centrale
      <div class='secondary-content hide-on-small-only'>
        250 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Staff Toulouse +250
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Les Pokestop
      <div class='secondary-content hide-on-small-only'>
        240 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Voiture de luxe x3 +120<br>Traversée de France +60<br>Traversée de Belgique +60
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Les StopInHambourg
      <div class='secondary-content hide-on-small-only'>
        200 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Baignade dans la Mediterranée +200
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Les CaraPouces
      <div class='secondary-content hide-on-small-only'>
        200 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Voiture de luxe +40<br>Traversée France +60<br>Conduisent la voiture +100
  </li>
  <li>
    <div class='collapsible-header'>
      17 - The small big
      <div class='secondary-content hide-on-small-only'>
        200 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Bateau Stop +200
  </li>
  <li>
    <div class='collapsible-header'>
      17 -
      <div class='secondary-content hide-on-small-only'>
        200 points - Mines St Etienne
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      OctoberFest +200
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Les zoolcooliques
      <div class='secondary-content hide-on-small-only'>
        160 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Bus +70<br>Le plus longtemps coincés +50<br>Voiture de sport +40
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Pouce-ière dans le vent
      <div class='secondary-content hide-on-small-only'>
        160 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      traverser un pays (Espagne)/surprendre le staff/plus belle pancarte +160
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Les migrants
      <div class='secondary-content hide-on-small-only'>
        120 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Dépaneuse +70<br>Chocho qui a prit un autre binôme : +50
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Orient Express
      <div class='secondary-content hide-on-small-only'>
        120 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      2 traversées de pays +120
  </li>
  <li>
    <div class='collapsible-header'>
      23 - Les phouphoung
      <div class='secondary-content hide-on-small-only'>
        120 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      2 fois traverser un pays ( Allemagne Pologne) +120
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Supertramp
      <div class='secondary-content hide-on-small-only'>
        100 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      tentative d'islamisation par un routier +50<br>Etre pris pour un imigré +50
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Les embuscadors
      <div class='secondary-content hide-on-small-only'>
        100 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60<br>Golf R6 +40
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Bourriquet et Stitch
      <div class='secondary-content hide-on-small-only'>
        100 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60<br>Pris sans rien demander +40
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Toute direction
      <div class='secondary-content hide-on-small-only'>
        100 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Soirée au ponts et chaussée
  </li>
  <li>
    <div class='collapsible-header'>
      26 - Les pouces au flanc
      <div class='secondary-content hide-on-small-only'>
        100 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      traverser un pays (Espagne) / voiture de luxe +100
  </li>
  <li>
    <div class='collapsible-header'>
      26 - La Gabel
      <div class='secondary-content hide-on-small-only'>
        100 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      traverser un pays (Allemagne) + 60<br>voiture de luxe + 40
  </li>
  <li>
    <div class='collapsible-header'>
      32 - Les Insaballes
      <div class='secondary-content hide-on-small-only'>
        90 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Taxi qui prends en stop +90
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Poucez-Vous
      <div class='secondary-content hide-on-small-only'>
        70 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Dépaneuse +70
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Carapa
      <div class='secondary-content hide-on-small-only'>
        70 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Stop en Bus +70
  </li>
  <li>
    <div class='collapsible-header'>
      35 - Les tchatcheurs
      <div class='secondary-content hide-on-small-only'>
        62 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60<br>Pompes pour épater madame +2
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Les déglingos
      <div class='secondary-content hide-on-small-only'>
        60 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Voiture de luxe +40<br>Pipi sauvage dans les rues de Lille +20
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Les Inconnus
      <div class='secondary-content hide-on-small-only'>
        60 points - Oniris Veto Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Traversée de France +60
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Rémi & Nicolas
      <div class='secondary-content hide-on-small-only'>
        60 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      traverser un pays (Allemagne) +60
  </li>
  <li>
    <div class='collapsible-header'>
      39 - Les petits Poucest
      <div class='secondary-content hide-on-small-only'>
        50 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      5h sur une aire +50
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Les Poisons
      <div class='secondary-content hide-on-small-only'>
        40 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Campingcar : +30<br>Pantalon troué et Chaussures oubliées : +10 ... et des frais de tailleur
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Maxime/Clément
      <div class='secondary-content hide-on-small-only'>
        40 points - ECN
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Jaguar +40
  </li>
  <li>
    <div class='collapsible-header'>
      40 - IVP Thumbs
      <div class='secondary-content hide-on-small-only'>
        40 points - EIVP
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      voiture de luxe  +40
  </li>
  <li>
    <div class='collapsible-header'>
      43 - les Zarabs
      <div class='secondary-content hide-on-small-only'>
        10 points - INSA Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Défis réalisés :<br>
      Calin au chauffeur +10
  </li>
</ul>
