<ul class="collapsible z-depth-2" data-collapsible=accordion>
  <li>
    <div class='collapsible-header'>
      1 - Les Pouces-Mouss'
      <div class='secondary-content hide-on-small-only'>
        952 points - Enschede
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Enschede</b>.<br>
      Soit <b>952</b> km.<br>
      Sophie & Julien totalisent donc <b>952</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      2 - La team rocket
      <div class='secondary-content hide-on-small-only'>
        925 points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Soit <b>925</b> km.<br>
      Aline & Alexis totalisent donc <b>925</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      2 - Les Pouces Poussent
      <div class='secondary-content hide-on-small-only'>
        925 points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Soit <b>925</b> km.<br>
      Emma & Maxime totalisent donc <b>925</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      3 - Les dépoussolés
      <div class='secondary-content hide-on-small-only'>
        915 (corvette) points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Isabelle & Stéphane totalisent donc <b>915 (corvette)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      4 - Les Thumb It Up !
      <div class='secondary-content hide-on-small-only'>
        883 points - Bottrop
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bottrop</b>.<br>
      Soit <b>883</b> km.<br>
      Maud & Will totalisent donc <b>883</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Le petit Poucet suçant son pouce
      <div class='secondary-content hide-on-small-only'>
        875 points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Hortense & Alexandre totalisent donc <b>875</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Les Bonnasses Dias !
      <div class='secondary-content hide-on-small-only'>
        875 points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Adriana & Joaquim totalisent donc <b>875</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      5 - Os Viajantes
      <div class='secondary-content hide-on-small-only'>
        875 points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Bianca & Jérémy totalisent donc <b>875</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      8 - A-team
      <div class='secondary-content hide-on-small-only'>
        872 points - Barcelone
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barcelone</b>.<br>
      Soit <b>872</b> km.<br>
      Mathilde & Carlos totalisent donc <b>872</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      9 - Les jeunes pouces
      <div class='secondary-content hide-on-small-only'>
        851 points - Offenburg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Offenburg</b>.<br>
      Soit <b>851</b> km.<br>
      Julien & Gautier totalisent donc <b>851</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      10 - Les Bonobos!
      <div class='secondary-content hide-on-small-only'>
        843 points - Cologne
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Cologne</b>.<br>
      Soit <b>843</b> km.<br>
      Jennifer & Romain totalisent donc <b>843</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      11 - Octopouce
      <div class='secondary-content hide-on-small-only'>
        841 points - Utrecht
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Utrecht</b>.<br>
      Soit <b>841</b> km.<br>
      Maud & Sylvain totalisent donc <b>841</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      12 - VolePasMonSac
      <div class='secondary-content hide-on-small-only'>
        825 points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Soit <b>925</b> km.<br>
      L'équipe a eu <b>1h</b> de retard.<br>
      Mathurin & Thibault totalisent donc <b>825</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      13 - Les Poussy Wagon
      <div class='secondary-content hide-on-small-only'>
        820 points - Strasbourg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Strasbourg</b>.<br>
      Soit <b>820</b> km.<br>
      Qi & Adrien totalisent donc <b>820</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      14 - Commandants Pouce tôt
      <div class='secondary-content hide-on-small-only'>
        816 points - Rotterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rotterdam</b>.<br>
      Soit <b>816</b> km.<br>
      Maxime & Olivier totalisent donc <b>816</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      15 - Pouce & madame!
      <div class='secondary-content hide-on-small-only'>
        814 points - Figueres
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Figueres</b>.<br>
      Soit <b>814</b> km.<br>
      Lise & Loïc totalisent donc <b>814</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      16 - Pouce le Monde
      <div class='secondary-content hide-on-small-only'>
        802 points - Eindhoven
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Eindhoven</b>.<br>
      Soit <b>802</b> km.<br>
      Maylie & Jiabin totalisent donc <b>802</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      17 - Les impous'teurs
      <div class='secondary-content hide-on-small-only'>
        793 points - Tilburg
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Tilburg</b>.<br>
      Soit <b>793</b> km.<br>
      Laurent & Julien totalisent donc <b>793</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      18 - Les Mads Lascars
      <div class='secondary-content hide-on-small-only'>
        771 points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Soit <b>771</b> km.<br>
      Florian & Boris totalisent donc <b>771</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      19 - Thumb Hang
      <div class='secondary-content hide-on-small-only'>
        738 points - Barchon
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Barchon</b>.<br>
      Soit <b>738</b> km.<br>
      Guillaume & Antoine totalisent donc <b>738</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      20 - A l'arrache
      <div class='secondary-content hide-on-small-only'>
        734 points - Montpellier
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Montpellier</b>.<br>
      Soit <b>734</b> km.<br>
      Romain & Maxime totalisent donc <b>734</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      21 - Os Trapouceiros
      <div class='secondary-content hide-on-small-only'>
        723 points - Anvers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Soit <b>723</b> km.<br>
      Julian & Vincent totalisent donc <b>723</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Black ceintures
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Mathieu & Thomas totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les épouce'touflants
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Paloma & Benoît totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les grosses joues
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Lei & David totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les Pouces tout flans
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Camille & Louis totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les Pouss'iéreux
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Antoine & Florian totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les SDF
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Thibault & Kévin totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Les Toupouss' hein
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Mélissa & Alexandre totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Black ceintures
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Mathieu & Thomas totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Marco Polo
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Alessandra & Thibault totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      22 - Pouces de soja
      <div class='secondary-content hide-on-small-only'>
        681 points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Mathilde & Maxime totalisent donc <b>681</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      32 - Pouces et Nous !
      <div class='secondary-content hide-on-small-only'>
        595 points - Lille
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lille</b>.<br>
      Soit <b>595</b> km.<br>
      Mathilde & Baptiste totalisent donc <b>595</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Les FantaSM'O'S ambulants
      <div class='secondary-content hide-on-small-only'>
        557 points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>557</b> km.<br>
      Anne-Julie & Adrien totalisent donc <b>557</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - M & M's
      <div class='secondary-content hide-on-small-only'>
        557 points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>557</b> km.<br>
      Marie & Marc totalisent donc <b>557</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      33 - Pouce plus loin !
      <div class='secondary-content hide-on-small-only'>
        557 points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>557</b> km.<br>
      Florian & Ludovic totalisent donc <b>557</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Damdam
      <div class='secondary-content hide-on-small-only'>
        381 points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>381</b> km.<br>
      Arthur & Paul-Emile totalisent donc <b>381</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      36 - Les petits poucets trempés
      <div class='secondary-content hide-on-small-only'>
        381 points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>381</b> km.<br>
      Laure & Alban totalisent donc <b>381</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      38 - Les 2 poucequetaires
      <div class='secondary-content hide-on-small-only'>
        324 points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>324</b> km.<br>
      Ouessanne & Vincent totalisent donc <b>324</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      39 - Les chocolatines
      <div class='secondary-content hide-on-small-only'>
        296 points - Brest
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Brest</b>.<br>
      Soit <b>296</b> km.<br>
      Guillaume & Thomas totalisent donc <b>296</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      40 - Trenavec
      <div class='secondary-content hide-on-small-only'>
        275 points - Ploumanach
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Ploumanach</b>.<br>
      Soit <b>275</b> km.<br>
      Laure & Vincent totalisent donc <b>275</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      41 - Opoussum and big pouce
      <div class='secondary-content hide-on-small-only'>
        198 points - Joué-les-tours
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Joué-les-tours</b>.<br>
      Soit <b>198</b> km.<br>
      Franck & Romain totalisent donc <b>198</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      42 - Les Pouce toi de là
      <div class='secondary-content hide-on-small-only'>
        194 points - Tours
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Tours</b>.<br>
      Soit <b>194</b> km.<br>
      Clément & Antoine totalisent donc <b>194</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      43 - French Fries & Riz Cantonnais
      <div class='secondary-content hide-on-small-only'>
        175 points - Saint Malo
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Saint Malo</b>.<br>
      Soit <b>175</b> km.<br>
      Xue-Ying & Benoit totalisent donc <b>175</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      44 - Jacquouille
      <div class='secondary-content hide-on-small-only'>
        107 points - Rennes
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Rennes</b>.<br>
      Soit <b>107</b> km.<br>
      Jean-Baptiste & Maxime totalisent donc <b>107</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      45 - F≤
      <div class='secondary-content hide-on-small-only'>
        4 points - Périphérie de Nantes
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Périphérie de Nantes</b>.<br>
      Soit <b>4</b> km.<br>
      Fabio & Fabrizia totalisent donc <b>4</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      46 - Les latins lover
      <div class='secondary-content hide-on-small-only'>
        -325 (retard) points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Merwan & Antoine totalisent donc <b>-325 (retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      47 - Tourist goldfingers
      <div class='secondary-content hide-on-small-only'>
        -419 (retard) points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Rebecca & Jon totalisent donc <b>-419 (retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      48 - Poupouce et Moumousse
      <div class='secondary-content hide-on-small-only'>
        -660 (retard) points - Amsterdam
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Amsterdam</b>.<br>
      Soit <b>875</b> km.<br>
      Blanca & Valentin totalisent donc <b>-660 (retard)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les petits poucés poucycat fusion !
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Hanovre
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Hanovre</b>.<br>
      Soit <b>1122</b> km.<br>
      Nicolas & Maxime totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Tu pouces le bouchon un peu trop loin
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Emsteck
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Emsteck</b>.<br>
      Soit <b>1077</b> km.<br>
      Clémentine & Julien totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les géants
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Francfort
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Francfort</b>.<br>
      Soit <b>925</b> km.<br>
      Benoit & Mathieu totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les Poucitions Un Deux !
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Arnhem
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Arnhem</b>.<br>
      Soit <b>827</b> km.<br>
      Patricia & Pierre totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - La Just'Team Bieber
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Breda
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Breda</b>.<br>
      Soit <b>771</b> km.<br>
      Clément & Yannick totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - STAFF Club PÍche
      <div class='secondary-content hide-on-small-only'>
        0 (partis la veille) points - Anvers
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Anvers</b>.<br>
      Soit <b>723</b> km.<br>
      François & Paul totalisent donc <b>0 (partis la veille)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Tintin chez les Pouceaux
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Bruxelles
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bruxelles</b>.<br>
      Soit <b>681</b> km.<br>
      Guillaume & Nils totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - PAUNOCUDAUSP
      <div class='secondary-content hide-on-small-only'>
        0 (partis de Lille) points - Lyon
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Lyon</b>.<br>
      Soit <b>658</b> km.<br>
      Pedro & Gustavo totalisent donc <b>0 (partis de Lille)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - à l'ar'H
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Toulouse
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Toulouse</b>.<br>
      Soit <b>557</b> km.<br>
      Pauline & Rémi totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les Lilipouciens
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Paris
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Paris</b>.<br>
      Soit <b>381</b> km.<br>
      Laure & Alex totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Queso negro
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Bordeaux
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Bordeaux</b>.<br>
      Soit <b>324</b> km.<br>
      Morgane & Quentin totalisent donc <b>0 (abandon)</b> points.
  </li>
  <li>
    <div class='collapsible-header'>
      49 - Les Hobbits
      <div class='secondary-content hide-on-small-only'>
        0 (abandon) points - Orléans
      </div>
    </div>
    <div class='collapsible-body'>
      Destination : <b>Orléans</b>.<br>
      Soit <b>302</b> km.<br>
      Camille & Thanh Tu totalisent donc <b>0 (abandon)</b> points.
  </li>
</ul>
