
<div class ="container" id="liensassociation">
<div class="section">
<h4 class="center">Liens</h4>
</div>
<div class="row section">

  <div class="col l3 m3 s12">
    <a href="http://levetonpouce.fr/index.html" target="_blank">

      <div class="light-green lighten-5 card hoverable">
        <div class="card-content container_lien">

          <img src="assets/img/liens/levetonpouce.png" class="responsive-img logo_lien" alt="Logo de Levetonpouce"/>
        </div>

        <div class="card-action hide-on-small-only">
          <span class="black-text">Où se placer pour partir vers le grand sud ?? Pour rentrer chez soi pendant les vacances ?
            Pas de panique, Levetonpouce t'indique les meilleurs spots de stop à travers toute la France !
          </span>
        </div>
      </div>
    </a>
  </div>

  <div class="col l3 m3 s12">
    <a href="http://hitchwiki.org/fr/Accueil" target="_blank">
    <div class="light-green lighten-5 card hoverable">
      <div class="card-content container_lien_droite">
          <img src="assets/img/liens/hitchwiki.png" class="responsive-img logo_lien" alt="Logo de Hitchwiki"/>
      </div>

      <div class="card-action hide-on-small-only">
        <span class="black-text">
          Hitchwiki est un projet collaboratif de création d'un guide libre et gratuit pour et par les auto-stoppeurs.
          Vous y trouverez tous les conseils que vous cherchez. Il présente également une base de données des bons spots pour faire du stop, alors pensez-y !
        </span>
      </div>
    </div>
    </a>
  </div>
  <div class="col l3 m3 s12">
    <a href="https://www.trustroots.org/" target="_blank">
    <div class="light-green lighten-5 card hoverable">
      <div class="card-content container_lien">

          <img src="assets/img/liens/trustroots.png" class="responsive-img logo_lien" alt="Logo de Trustroots'"/>
      </div>

      <div class="card-action hide-on-small-only">
          <span class="black-text">
          Trustroots est un réseau d’hébergement de voyageurs dont la majeure partie des membres sont des auto-stoppeurs ou côtoient les réseaux d’auto-stoppeurs.
          Idéal pour rencontrer et partager lors de vos voyages en stop !
        </span>
      </div>
    </div>
    </a>
  </div>

  <div class="col l3 m3 s12">
    <a href="https://www.madjacques.fr/" target="_blank">
      <div class="light-green lighten-5 card hoverable ">
        <div class="card-content container_lien_droite">
        <img src="assets/img/liens/madjacques.png" class="responsive-img logo_lien" alt="Logo de la Mad Jacques'"/>
    </div>
    <div class="card-action hide-on-small-only">
      <span class="black-text">
        La Mad Jacques est une course en stop géante et un festival de l'aventure. L'évènement a lieu les 10 et 11 juin, et réunit 1 500 personnes au départ de Paris, Lyon et Nantes.
      </span>
    </div>
  </div>
  </a>
</div>
</div>
</div>
