<div class="col s12 m12">

<h4 class="center">Liens</h4>

<div>

  <a href="http://levetonpouce.fr/index.html" target="_blank">
  <img src="assets/img/levetonpouce.png" class="logo_lien" alt="Logo de Levetonpouce" title="Logo de Levetonpouce"/></a>

  <p class="descri_lien">Où se placer pour partir vers le grand sud ?? Pour rentrer chez soi pendant les vacances ?
    Pas de panique, Levetonpouce t'indique les meilleurs spots de stop à travers toute la France !
    </p>

</div>

<div>

  <a href="http://hitchwiki.org/fr/Accueil" target="_blank">
  <img src="assets/img/hitchwiki.png" class="logo_lien" alt="Logo de Hitchwiki" title="Logo de Hitchwiki"/></a>

  <p class="descri_lien">
    Hitchwiki est un projet collaboratif de création d'un guide libre et gratuit pour et par les auto-stoppeurs.
    Vous y trouverez tous les conseils que vous cherchez. Il présente également une base de données des bons spots pour faire du stop, alors pensez-y !
    </p>

</div>

<div>

  <a href="https://www.trustroots.org/" target="_blank">
  <img src="assets/img/trustroots.png" class="logo_lien" alt="Logo de Trustroots'" title="Logo de Trustroots"/></a>

  <p class="descri_lien">
    Trustroots est un réseau d’hébergement de voyageurs dont la majeure partie des membres sont des auto-stoppeurs ou côtoient les réseaux d’auto-stoppeurs.
    Idéal pour rencontrer et partager lors de vos voyages en stop !
    </p>
</div>

<div>

  <a href="https://www.madjacques.fr/" target="_blank">
  <img src="assets/img/madjacques.png" class="logo_lien" alt="Logo de la Mad Jacques'" title="Logo de la Mad Jacques"/></a>

  <p class="descri_lien">
    La Mad Jacques est une course en stop géante et un festival de l'aventure. L'évènement a lieu les 10 et 11 juin, et réunit 1 500 personnes au départ de Paris, Lyon et Nantes.
    </p>
</div>

</div>
