<div class="parallax-container">
	<div class="parallax">{% img asso alt:"Unsplashed background img 2" magick:resize:1000x1000 %}</div>
</div>

<h4 class="center">Présentation</h4>

<p>Le Pouce d’Or, c’est donc un événement étudiant, ouvert à tous, donc le principe est relativement simple ;
	aller le plus loin possible (et revenir !!) en stop, en 48 heures. Traditionnellement, il se déroule sur les deux premiers
	week-ends d’octobre, chaque établissement choisissant la date qui lui convient le mieux.</p>

<p>Au delà d'une formidable aventure étudiante, le Pouce d'Or, c'est aussi l'occasion de revaloriser l’autostop auprès de la
	communauté étudiante, de redécouvrir ce moyen de transport solidaire, alternatif, et efficace, comme l'ont montré les
	participants ces dernières années !</p>

<p>Les plus motivés tenteront donc de rallier Moscou en passant deux nuits blanches, alors que d’autres se contenteront
	d’aller visiter la ville voisine; chacun y trouvera son compte !!</p>

<p>Afin de rendre l'autostop accessible à tous, le Pouce d’Or est basé sur deux principes : la <strong>sécurité</strong>
	et la <strong>gratuité</strong>.</p>

<h5 class="center">La sécurité :</h5>

<p>L'équipe organisatrice s'engage à mettre en place différentes mesures dans le but d'assurer la sécurité des participants :</p>
<ul>
	<li>Chaque participant devra porter un gilet de sécurité jaune fluo afin d’assurer sa visibilité et
		sa sécurité tout au long du week-end.</li>
	<li>Chaque participant sera couvert par l’assurance du Pouce d’Or</li>
	<li>Les organisateurs de chaque établissement s’engagent à suivre la position de
chacun de leurs binômes tout au long du week-end.</li>

<p>Les règles de sécurité sont expliquées plus en détail dans la rubrique <a href="evenement.html#regles">Règles</a>.</p>

<h5 class="center">La gratuité :</h5>

<p>La participation au Pouce d’Or est <strong>gratuite</strong> et a vocation à le rester.
	L’équipe organisatrice fera son possible pour fournir les gilets à l’ensemble des participants. Cependant, il
 	est possible que lors de certaines éditions foireuses, les gilets soient à la charge des participants.</p>

<p>Réciproquement, le Pouce d'Or (et l'autostop !) est rendu possible par la gratuité et la spontanéité dont font preuve certains
	conducteurs. Gardez cela à l’esprit, le respect et l’amabilité sont donc de mise !</p>

<h4 class="center">Notre histoire</h4>

<p>Le Pouce d’Or a débuté à Centrale Nantes, l’année de lancement restant une information obscure. <br />
	On ne compte qu’une vingtaine de participants aux départs des premières éditions. </p>

<p>En 2010 ont lieu deux événements majeurs :
<ul>
<li>Le record de distance actuel est établi avec un chouette Nantes-Copenhague (1576 km)</li>
<li>Les limites à l’Ouest sont considérablement repoussées (Nantes-Budapest, 1863 km, 40 heures de retard au retour)</li></ul></p>

<p>Le Pouce d’Or commence à prendre une ampleur particulière en 2012, édition au cours de laquelle plusieurs établissements
rejoignent l’événement. Des départs Pouceux ont donc lieu dans 4 villes : Nantes, Lille, Brest et Paris.</p>

<!-- Peut être mettre ça dans "Vision" dans la page d'accueil, en reformulant un peu..?

<h4 class="center">Vision</h4>

<p>Cher Pouceux, tu l’auras compris, le Pouce d’Or est bien plus qu’une formidable aventure universitaire. C’est aussi l’occasion de revaloriser l’autostop auprès de la communauté étudiante et de redécouvrir ce moyen de transport solidaire.

Car oui, l’autostop existe toujours, et, comme l’ont montré les participants ces dernières années, il reste un moyen de transport efficace. Mais au delà de ses performances, ce sont les valeurs qu’il transmet qui nous semblent essentielles.

Monter avec un(e) inconnu(e), prendre le temps d’échanger, rencontrer des personnes de tous horizons, quel meilleur moyen de voyager ? A travers l’autostop, on réapprend ce que sont l’entraide et la gratuité, on réapprend à voyager différemment, à galérer, à prendre le temps, ainsi qu’à rendre ces fameux coups de Pouce solidaires.

C’est pourquoi, cher Pouceux, on espère que le Pouce d’Or t’incitera à pratiquer l’autostop encore longtemps !
</p>
-->

<h4 class="center">Remerciements</h4>

<p>L’équipe du Pouce d’Or tient à remercier toutes ces personnes qui ont permis à l’événement d’avancer.
	En particulier, nous adressons nos remerciements :</p>
	<ul>
		<li>Aux anciens de l’événement, pour lui avoir permis de perdurer et de devenir ce qu’il est.</li>

		<li>Aux différentes personnes extérieures à l’événement, qui ont accepté de mettre bénévolement
			leurs compétences au service de cette aventure étudiante.</li>

		<li>Aux participants, pour nous avoir fait confiance, pour avoir osé tenter quelque chose de
			différent et sortir des sentiers battus.</li>

		<li>A tous ces gens, qui osent prendre le temps d’échanger, de rencontrer.
			A tous ces conducteurs qui pratiquent l’autostop.</li>
