<div class="parallax-container firstimage">
	<div class="parallax"><img src="/assets/img/asso.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container flow-text-adapt">
	<div class="row section">
		<h4 id="presentation" class="center">Présentation</h4>
		<div class="col s12">
			<p>Le Pouce d’Or, c’est donc un événement étudiant, ouvert à toutes et tous, dont le principe est relativement simple ;
				aller le plus loin possible (et revenir !!) en stop, en 48 heures. Traditionnellement, il se déroule sur les deux premiers
				week-ends d’octobre, chaque établissement choisissant la date qui lui convient le mieux.</p>

			<p>Au delà d'une formidable aventure étudiante, le Pouce d'Or, c'est aussi l'occasion de revaloriser l’autostop auprès de la
				communauté étudiante, de redécouvrir ce moyen de transport solidaire, alternatif, et efficace, comme l'ont montré les
				participants ces dernières années !</p>

			<p>Les plus motivés tenteront donc de rallier Moscou en passant deux nuits blanches, alors que d’autres se contenteront
				d’aller visiter la ville voisine; chacun y trouvera son compte !!</p>
		</div>
</div>

	<div class="divider"></div>

<div class="row section">
  <h4 class="center">Nos valeurs</h4>
	<div class="col s12"><p>Afin de rendre l'autostop accessible à tous, le Pouce d’Or est basé sur deux principes : la <strong>sécurité</strong>
			et la <strong>gratuité</strong>.</p>
		<h5>La sécurité :</h5></div>
	<div class="col m8">

		<p>L'équipe organisatrice s'engage à mettre en place différentes mesures dans le but d'assurer la sécurité des participants :</p>
		<ul>
			<li class="liste_elt"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>
				Chaque participant devra porter un gilet de sécurité jaune fluo afin d’assurer sa visibilité et
				sa sécurité tout au long du week-end.</li>
			<li class="liste_elt"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>
				Chaque participant sera couvert par l’assurance du Pouce d’Or.</li>
			<li class="liste_elt"><i class="fa fa-check-square-o yellow lighten-5 yellow-text text-darken-1" style="padding-right:0.5em"></i>
				Les organisateurs de chaque établissement s’engagent à suivre la position de
		chacun de leurs binômes tout au long du week-end.</li>

		<p>Les règles de sécurité sont expliquées plus en détail dans la rubrique <a href="evenement.html"><strong>Règles</strong></a>.</p>

	</div>
	<div class="col m4">
		<img src="assets/img/gilet-jaune.jpeg" class="circle responsive-img" alt="Homme en gilet jaune"/>
	</div>
</div>

<div class="row section">
	<div class="col m4">
	<img src="assets/img/lechat.png" class="circle responsive-img" alt="Valeur du volontariat"/>
	</div>

	<div class="col m8">
	<h5>La gratuité :</h5>

	<p>La participation au Pouce d’Or est <strong>gratuite</strong> et a vocation à le rester.
		L’équipe organisatrice fera son possible pour fournir les gilets à l’ensemble des participants. Cependant, il
	 	est possible que lors de certaines éditions foireuses, les gilets soient à la charge des participants.</p>

	<p>Réciproquement, le Pouce d'Or (et l'autostop !) est rendu possible par la gratuité et la spontanéité dont font preuve certains
		conducteurs. Gardez cela à l’esprit, le respect et l’amabilité sont donc de mise !</p>
	</div>
</div>

<div class="divider"></div>
<div class="section">

	<h4 id="histoire" class="center">Notre histoire</h4>

	<p>Le Pouce d’Or a débuté à Centrale Nantes, l’année de lancement restant une information obscure.
		On ne compte qu’une vingtaine de participants aux départs des premières éditions. </p>

	<p>En 2010 ont lieu deux événements majeurs :
	<ul>
	<li class="liste_elt"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>Le record de distance actuel est établi avec un chouette Nantes-Copenhague (1576 km)</li>
	<li class="liste_elt"><i class="fa fa-car yellow-text text-darken-1" style="padding-right:0.5em"></i>Les limites à l’Est sont considérablement repoussées (Nantes-Budapest, 1863 km, 40 heures de retard au retour)</li></ul></p>

	<p>Le Pouce d’Or commence à prendre une ampleur particulière en 2012, édition au cours de laquelle plusieurs établissements
	rejoignent l’événement. Des départs Pouceux ont donc lieu dans 4 villes : Nantes, Lille, Brest et Paris.</p>

	<p>Une association indépendante est créée en 2016 dans le but de gérer l'organisation de l'événement et de favoriser l'intégration
		de tous les établissements. Et dernier événement en date, la sortie de cet extraordinaire site internet, 100% maison, qui aura bien occupé l'équipe !</p>

</div>
<div class="divider"></div>

<div class="row section">
<h4 id="remerciements" class="center">Remerciements</h4>

<div class="col m8">

<p>L’équipe du Pouce d’Or tient à remercier toutes ces personnes qui ont permis à l’événement d’avancer.
	En particulier, nous adressons nos remerciements :</p>
	<ul>
		<li class="liste_elt">- Aux anciens de l’événement, pour lui avoir permis de perdurer et de devenir ce qu’il est. </li>

		<li class="liste_elt">- Aux différentes personnes extérieures à l’événement, qui ont accepté de mettre bénévolement
			leurs compétences au service de cette aventure étudiante.</li>

		</ul>
</div>

<div class="col m4">
	<img src="assets/img/remerciements.png" class="responsive-img" alt="Minion heureux"/>
</div>

<div class="col m12">
	<ul>

	<li class="liste_elt">- A tous les staffs, de toutes années et établissements, pour avoir permis l'organisation du Pouce d'Or dans leur établissement.</li>

	<li class=liste_elt>- Aux participants, pour nous avoir fait confiance, pour avoir osé tenter quelque chose de
		différent et sortir des sentiers battus.</li>

	<li class=liste_elt>- A tous ces gens, qui osent prendre le temps d’échanger, de rencontrer et à tous ces conducteurs qui pratiquent l’autostop.</li>
	</ul>
</div>

</div>

<div class="divider"></div>
</div>
