
<div class="parallax-container">
	<div class="parallax">{% img asso alt:"Unsplashed background img 2" magick:resize:1000x1000 %}</div>
</div>

<h4 class="center">Présentation</h4>

<p>Le Pouce d’Or, c’est donc un événement étudiant, ouvert à tous, donc le principe est relativement simple ; aller le plus loin possible (et revenir !!) en stop, en 48 heures. Traditionnellement, il se déroule sur les deux premiers week-ends d’octobre, chaque établissement choisissant la date qui lui convient le mieux.

    Vous l’aurez compris, ce soi-disant concours n’est qu’un prétexte. Un prétexte pour organiser un événement autour de l’autostop accessible aux étudiants de tout l’Hexagone, un prétexte pour revaloriser ce moyen de transport solidaire et alternatif auprès des étudiants.

    Les plus motivés tenteront donc de rallier Moscou en passant deux nuits blanches, alors que d’autres se contenteront d’aller squatter chez leurs copains de prépa dans la ville d’à côté, chacun y trouvera son compte !!


    Le Pouce d’Or est basé sur deux principes : la sécurité et la gratuité. </p>

<h5 class="center">La sécurité :</h5>

<p>L’événement reste un jeu, les Pouceux sont donc sommés de ne prendre aucun risque inutile.
Chaque participant devra de plus partir avec un gilet de sécurité jaune fluo afin d’assurer sa visibilité et sa sécurité tout au long du week-end.
Chaque participant sera couvert par l’assurance du Pouce d’Or en cas d’accident, en plus de ses assurances personnelles.
Les organisateurs de chaque établissement s’engagent à suivre grâce au site internet la position de chacun de leurs binômes tout au long du week-end.
Les règles de sécurité sont expliquées plus en détail dans la rubrique NOM. </p>

<h5 class="center">La gratuité :</h5>

<p>La participation au Pouce d’Or est gratuite et a vocation à le rester.
L’équipe organisatrice fera son possible pour fournir les gilets à l’ensemble des participants. Cependant, il est possible que lors de certaines éditions foireuses, les gilets soient à la charge des participants.
Chacun des déplacements effectué est rendu possible par la gratuité et la spontanéité dont feront preuve certains conducteurs. Gardez cela à l’esprit, le respect et l’amabilité sont donc de mise.
</p>

<h4 class="center">Notre histoire</h4>

<p>Le Pouce d’Or a débuté à Centrale Nantes, l’année de lancement restant une information obscure. Au cours des premières éditions, on ne comptait qu’une vingtaine de participants au départ.

En 2010 ont lieu deux événements majeurs :

Le record de distance actuel est établi avec un chouette Nantes-Copenhague (1576 km)
Les limites à l’Ouest sont considérablement repoussées (Nantes-Budapest, 1863 km, 40 heures de retard au retour)

Le Pouce d’Or commence à prendre une ampleur particulière en 2012, édition au cours de laquelle plusieurs écoles rejoignent l’événement. Des départs Pouceux ont donc lieu dans 4 villes : Nantes, Lille, Brest et Paris.

En 2015, le Pouce d’Or rassemble 25 établissements et 400 participants. Au vu de cette ampleur considérable, il semble à l’équipe organisatrice que l’événement n’a plus vocation à être organisé par un club de Centrale de Nantes. Une association indépendante est donc créée début 2016 dans le but de pérenniser l’événement et d’ouvrir son organisation à tout.e étudiant.e souhaitant s’investir.
</p>

<h4 class="center">Vision</h4>

<p>Cher Pouceux, tu l’auras compris, le Pouce d’Or est bien plus qu’une formidable aventure universitaire. C’est aussi l’occasion de revaloriser l’autostop auprès de la communauté étudiante et de redécouvrir ce moyen de transport solidaire.

Car oui, l’autostop existe toujours, et, comme l’ont montré les participants ces dernières années, il reste un moyen de transport efficace. Mais au delà de ses performances, ce sont les valeurs qu’il transmet qui nous semblent essentielles.

Monter avec un(e) inconnu(e), prendre le temps d’échanger, rencontrer des personnes de tous horizons, quel meilleur moyen de voyager ? A travers l’autostop, on réapprend ce que sont l’entraide et la gratuité, on réapprend à voyager différemment, à galérer, à prendre le temps, ainsi qu’à rendre ces fameux coups de Pouce solidaires.

C’est pourquoi, cher Pouceux, on espère que le Pouce d’Or t’incitera à pratiquer l’autostop encore longtemps !
</p>

<h4 class="center">Remerciements</h4>

<p>L’équipe du Pouce d’Or tient à remercier toutes ces personnes qui ont permis à l’événement d’avancer. En particulier, nous adressons nos remerciements :
Aux anciens de l’événement, pour lui avoir permis de perdurer et de devenir ce qu’il est.

A tous les staffs, de toutes les villes, de toutes les éditions, qui ont offert une partie de leur temps pour développer l’événement chez eux.

Aux différentes personnes extérieures à l’événement, qui ont accepté de mettre bénévolement leurs compétences au service de cette initiative étudiante.

Aux participants, pour nous avoir fait confiance, pour avoir osé tenter quelque chose de différent et sortir des sentiers battus.

A tous ces gens, qui osent prendre le temps d’échanger, de rencontrer. A tous ces conducteurs qui pratiquent l’autostop.
</p>

<h4 class="center">Liens</h4>

<p>Liens à inclure: Hitchwiki, Mad Jacques (ou partenaires ?), Guide de l'autostoppeur routard, Trustroots,...</p>
