<div class="container flow-text-adapt">
  <div class="divider"></div>

  <div class="row">
    <h4 id="remerciements" class="center">Remerciements</h4>
</div>

  <div class="row valign-wrapper">

  <div class="col l8 m8 valign">

  <p>L’équipe du Pouce d’Or tient à remercier toutes ces personnes qui ont permis à l’événement d’avancer.
  	En particulier, nous adressons nos remerciements :</p>
  	<ul>
  		<li class="liste_elt">- Aux anciens de l’événement, pour lui avoir permis de perdurer et de devenir ce qu’il est. </li>

  		<li class="liste_elt">- Aux différentes personnes extérieures à l’événement, qui ont accepté de mettre bénévolement
  			leurs compétences au service de cette aventure étudiante.</li>

  		<li class="liste_elt">- A tous les staffs, de toutes années et établissements, pour avoir permis l'organisation du Pouce d'Or dans leur établissement.</li>

  	</ul>
  </div>

  <div class="col l4 m4">
  	<img src="assets/img/remerciements.png" class="responsive-img valign" alt="Pingouin heureux"/>
  </div>
</div>
<div class="row">

  <div class="col m12">
  	<ul>
  		<li class=liste_elt>- Aux participants, pour nous avoir fait confiance, pour avoir osé tenter quelque chose de
  		différent et sortir des sentiers battus.</li>
  		<li class=liste_elt>- A tous ces gens, qui osent prendre le temps d’échanger, de rencontrer; à tous ces conducteurs qui pratiquent l’autostop.</li>

  	</ul>
  </div>

  </div>
</div>
