<h3 class="center">Contactez-nous</h3>

<div class="row">
	<form 
		class="col s12 m9"
		enctype="text/plain" 
		id="mailForm">

		<div class="row">
			<div class="input-field col s6">
				<input id="name" type="text" class="validate">
				<label for="name">Votre nom</label>
			</div>
			<div class="input-field col s6">
				<input id="email" type="text" class="validate">
				<label for="email">Votre email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="subject" type="text" class="validate">
				<label for="subject">Votre sujet</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <textarea id="message" class="materialize-textarea"></textarea>
	          <label for="message">Votre message</label>
	        </div>
		</div>
		<button 
			class="modal-action modal-close btn waves-effect waves-light"
			type="submit"
			id="submitMail"
			value=""/>Envoyer
			<i class="material-icons right">send</i>
		</button>
	</form>
	<div class="col s12 m3">
		<p>
			N'hésite pas à nous contacter pour nous faire des remarques, signaler une faute ou un bug du site et même pour nous envoyer un mot gentil ! <br/><br/>

			Nous nous essayerons de te répondre au plus vite.
		</p>

		Voici notre adresse mail : <a href="mailto:staff@poucedor.fr?Subject=ContactSiteWeb">staff@poucedor.fr</a>
	</div>
</div>
