<footer class="page-footer blue-grey darken-1">
  	<div class="container">
        <div class="row">

          	<div class="col l6 m6 s6">
            	<h5 class="white-text">SUIVEZ NOUS</h5>

              <a class="grey-text text-lighten-3" href="https://www.facebook.com/poucedor/">Page facebook</a>
              <a class="grey-text text-lighten-3" href="https://twitter.com/pouce_dor">Twitter</a>
              <a class="grey-text text-lighten-3" href="#">Diaspora*</a>
<!--
              <p>Contact : <a href="mailto:staff@poucedor.fr?Subject=ContactSiteWeb">Organisateurs</a></p>
-->

          	</div>

          	<div class="col l6 m6 s6">
            	<h5 class="white-text">NOUS CONTACTER</h5>

            <ul>
              <p class="grey-text text-lighten-4 hide-on-small-only">Vous pouvez nous contacter par mail ou sur notre page Facebook. Nous essayerons de vous répondre au plus vite.</p>
              <a class="grey-text text-lighten-3" href="mailto:staff@poucedor.fr">Contact mail</a>
              <a class="grey-text text-lighten-3" href="https://www.facebook.com/poucedor/">Contact facebook</a>
            </ul>
          	</div>


            </div>

        </div>
</div>



<div id="copyright" class="footer-copyright">
      <div class="row container droits">

        <div class="col l6 m7 s12"><span>© 2016-2017  Pouce d'Or - tous droits réservés</span></div>
        <div id="licence" class="col l3 m3 s12 offset-l3 offset-m2"><a class="text-lighten-4" href="#">Licences du site</a></div>
      </div>
  </div>
