<footer class="page-footer blue-grey darken-1">
  	<div class="container">
        <div class="row">

          	<div class="col l6 m6 s12">
            	<h5 class="white-text">SUIVEZ NOUS</h5>

              <div class="hide-on-med-and-up">
                <div class="col s2"><a class="hover-icone-footer grey-text text-lighten-3 " href="https://www.facebook.com/poucedor/"><i class="fa fa-facebook hide-on-med-and-up" style="font-size:4em"></i></a></div>
                <div class="col s2"><a class="hover-icone-footer grey-text text-lighten-3" href="https://twitter.com/pouce_dor"></i><i class="fa fa-twitter hide-on-med-and-up" style="font-size:4em"></i></a></div>
              </div>

          	</div>

          	<div class="col l6 m6 s12">
            	<h5 class="white-text">NOUS CONTACTER</h5>

              <div class="hide-on-med-and-up">
                <a class="col s3 hover-icone-footer grey-text text-lighten-3" href="mailto:staff@poucedor.fr"><i class="fa fa-envelope" style="font-size:4em"></i></a>
                <a class="col s3 hover-icone-footer grey-text text-lighten-3" href="https://www.facebook.com/poucedor/"><i class="fa fa-comment" style="font-size:4em"></i></a>
                <p class="col m12 grey-text text-lighten-4 hide-on-small-only">Vous pouvez nous contacter par mail ou sur notre page Facebook.
                  Nous essayerons de vous répondre au plus vite.
                </p>
              </div>


          	</div>

        </div>

            <div class="row hide-on-small-only">
              <!-- Le jour où on se servira de medium vraiment, il faudra activer ça -->
              <!-- <div class="col m1 s3"><a class="hover-icone-footer grey-text text-lighten-3" href="#"><i class="fa fa-medium" style="font-size:6em"></i></a></div> -->

            <div class="col l6 m6">
              <div class="col l2 m3"><a class="hover-icone-footer grey-text text-lighten-3 " href="https://www.facebook.com/poucedor/"><i class="fa fa-facebook hide-on-small-only" style="font-size:6em"></i></a></div>
              <div class="col l2 m3"><a class="hover-icone-footer grey-text text-lighten-3" href="https://twitter.com/pouce_dor"><i class="fa fa-twitter hide-on-small-only" style="font-size:6em"></i></a></div>
            </div>

              <div class="col l6 m6">
                <a class="col l2 m3 hover-icone-footer grey-text text-lighten-3" href="mailto:staff@poucedor.fr"><i class="fa fa-envelope" style="font-size:4em"></i></a>
                <a class="col l2 m3 hover-icone-footer grey-text text-lighten-3" href="https://www.facebook.com/poucedor/"><i class="fa fa-comment" style="font-size:4em"></i></a>
                <p class="col l12 m12 grey-text text-lighten-4 hide-on-small-only">Vous pouvez nous contacter par mail ou sur notre page Facebook.
                  Nous essayerons de vous répondre au plus vite.
                </p>

              </div>
            </div>
          </div>





    <div id="copyright" class="footer-copyright">
      <div class="row container droits">

        <div class="col l6 m7 s12"><span>© 2016-2017  Pouce d'Or - tous droits réservés</span></div>
        <div id="licence" class="col l3 m3 s12 offset-l3 offset-m2"><a class="text-lighten-4" href="licences.html">Licences du site</a></div>

      </div>
    </div>
