<!--start menu-->

<div id="navbar_sans_fond" class="nav-wrapper scrollspy sticky">
	<a id="logo-container" href="index.html" class="brand-logo hide-on-med-and-down left"><img src="/assets/img/logo/logo_2017_3-b3f26ecbc4e9bcf6b9166b567ef3f1222b06a7ce015904dea3da72824f769dd0.png" width="100%" height="auto" alt="logo"></a>
	<nav class="transparent center" id="navcolor" role="navigation">
		<div class="nav-wrapper container">
			<ul id="nav-desktop" class="hide-on-med-and-down">
				<li class="menuligros"> <a href="association.html">L'association</a>
				</li>
				<li class="menuligros"> <a href="evenement.html">L'événement</a>
				</li>
				<li class="menuligros"> <a href="classements.html">Classements</a>
				</li>
				<li class="menuligros"> <a href="partenaires.html">Partenaires</a>
				</li>
				<li class="menulipetit"> <a href="archives.html">Archives</a>
				</li>
			</ul>

			<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<div class="header-buttons hide" id="header-nav-buttons">
		<a href="#modal_connexion" class="btn btn-small btn-connexion transparent waves-effect waves-light">Connexion</a>
		<a href="#modal1" class="btn btn-small btn-signup white waves-effect waves-light">S'inscrire</a>

	</div>
</div>

<div id="side-nav">
	<ul id="nav-mobile" class="side-nav">
		<li> <a href="index.html">Accueil</a>
		</li>
		<li> <a href="association.html">L'association</a>
		</li>
		<li> <a href="evenement.html">L'événement</a>
		</li>
		<li> <a href="classements.html">Classements</a>
		</li>
		<li> <a href="partenaires.html">Partenaires</a>
		</li>
		<li> <a href="archives.html">Archives</a>
		</li>
	</ul>
</div>
