<!--start menu-->

<div id="navbar" class="nav-wrapper scrollspy default hide-on-med-and-down">

	<a id="logo-container" href="index.html" class="brand-logo hide-on-med-and-down left"><img src="/assets/img/logo/logo_2017.png" width="100%" height="auto" alt="logo"></a>

	<nav class="transparent center" id="navcolor" role="navigation" style="line-height:4vw;height:4vw;">
		<div class="nav-wrapper container">
			<ul id="nav-desktop" class="hide-on-med-and-down">
				<li> <a href="association.html">L'association</a>
				</li>
				<li> <a href="evenement.html">L'événement</a>
				</li>
				<li> <a href="classements.html">Classements</a>
				</li>
				<li> <a href="partenaires.html">Partenaires</a>
				</li>
				<li> <a href="defis.html">Les Défis</a>
				</li>
			</ul>
		</div>
	</nav>

<!--	<div class="header-buttons hide" id="header-nav-buttons">
		<a href="#modal_connexion" class="btn btn-small btn-connexion transparent waves-effect waves-light">Connexion</a>
		<a href="#modal1" class="btn btn-small btn-signup white waves-effect waves-light">S'inscrire</a>
-->

	</div>

	<a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" style="position:fixed;z-index:10000;margin-top:0;margin-left:0;">
		<i class="fa fa-bars fa-2x amber-text" style="margin:2vw;"></i>
	</a>

<div id="side-nav">
	<ul id="nav-mobile" class="side-nav">
		<li> <a href="index.html">Accueil</a>
		</li>
		<li> <a href="association.html">L'association</a>
		</li>
		<li> <a href="evenement.html">L'événement</a>
		</li>
		<li> <a href="classements.html">Classements</a>
		</li>
		<li> <a href="partenaires.html">Partenaires</a>
		</li>
		<li> <a href="defis.html">Les Défis</a>
		</li>
	</ul>
</div>
