<div class="parallax-container">
	<div class="parallax">{% img evenement_photo alt:"Unsplashed background img 2" magick:resize:2000x2000 %}</div>

	<h3 class="center">L'évènement</h3>

	<div class="row menu_tabs">
		<ul class="tabs">
			<li class="tab col s12 m3">
				<a href="#test1">
					<div class="digits">48</div>
					<div class="title">HEURES</div>
				</a>
			</li>
			<li class="tab col s12 m3">
				<a class="active" href="#test2">
					<div class="digits">1</div>
					<div class="title">MOYEN DE TRANSPORT</div>
				</a>
			</li>
			<li class="tab col s12 m3">
				<a href="#test3">
					<div class="digits">30</div>
					<div class="title">ECOLES</div>
				</a>
			</li>
			<li class="tab col s12 m3">
				<a href="#test4">
					<div class="digits">300</div>
					<div class="title">KM</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="row content">
		<div id="test1" class="col s12">Test 1</div>
		<div id="test2" class="col s12">Test 2</div>
		<div id="test3" class="col s12">Test 3</div>
		<div id="test4" class="col s12">Test 4</div>
	</div>
</div>