<div class="col s12 m4">
	<div class="review">
		"Fou !!!! Super experience, à refaire, et maintenant c'est sur que je prendrai des gens en stop!"
	</div>
	<div class="signature">
		<div class="name">
			Les Neiffeurs
		</div>
		<div class="from">
			EM Normandie			
		</div>
	</div>
</div>
<div class="col s12 m4">
	<div class="review">
		"Superbe aventure, avec la présence rassurante d'un staff organisé."
	</div>
	<div class="signature">
		<div class="name">
			Les Impouçuptibles
		</div>
		<div class="from">
			Centrale Nantes
		</div>
	</div>
</div>
<div class="col s12 m4">
	<div class="review">
		"Expérience unique, parfois fatiguante et exaspérante mais passionnante ! On a adoré !"
	</div>
	<div class="signature">
		<div class="name">
			Kathzzzfu
		</div>
		<div class="from">
			Centrale Lyon			
		</div>
	</div>
</div>