<div class="col s12 m4">
	<div class="review">
		"Fou !!!! Super experience, à refaire, et maintenant c'est sur que je prendrai des gens en stop!"
	</div>
<!--	<div class="signature">
		<div class="name">
			Chris
		</div>
		<div class="from">
			ESSEC, Paris				
		</div>
	</div> -->
</div>
<div class="col s12 m4">
	<div class="review">
		"Superbe aventure, avec la présence rassurante d'un staff organisé."
	</div>
<!--	<div class="signature">
		<div class="name">
			Belinda
		</div>
		<div class="from">
			Centrale Nantes				
		</div>
	</div> -->
</div>
<div class="col s12 m4">
	<div class="review">
		"Expérience unique, parfois fatiguante et exaspérante mais passionnante ! On a adoré !"
	</div>
<!--	<div class="signature">
		<div class="name">
			Donald
		</div>
		<div class="from">
			Centrale Lille				
		</div>
	</div> -->
</div>