<div class="col s12 m9">

	<h4 class="center">Les écoles participantes et les sponsors</h4>

</div>

<div class="col s12 m3">
	<h4 class="center">Réseaux</h4>
	<div align="center">
		<a class="twitter-timeline" href="https://twitter.com/search?q=%23poucedor" data-widget-id="384379510562365440">Tweets concernant "#poucedor"</a>
	</div>
	<br/>
	<div align="center">
		<div id="fb-root"></div>
		<div class="fb-page" data-href="https://www.facebook.com/poucedor" data-small-header="false" data-width="210px" data-height="100px" data-hide-cover="false" data-show-facepile="false" data-show-posts="false">
			<div class="fb-xfbml-parse-ignore">
				<blockquote cite="https://www.facebook.com/poucedor"><a href="https://www.facebook.com/poucedor">Pouce d&#039;Or</a></blockquote>
			</div>
		</div>
	</div>
</div>
