<div class="col s12 center">
	<h3>Inscris toi à l’édition 2017</h3>
</div>
<div class="left-align light col s12 m6">
	<h5>Départ dans :</h5>
	<div class="row center-align">
		<div class="clock_day" data-date="2017-10-01 09:00:00"></div>
		<h4 style="font-size: 50px; margin-top: -30px;">Jours</h4>
	</div>
	<div class="row center-align">
		<div class="clock" data-date="2017-10-01 09:00:00"></div>
	</div>
</div>
<div class="left-align light col s12 m6">
	<h5>Créer ton compte et pars à l’aventure</h5>
	<a class="waves-effect waves-light btn" href="#modal1">Inscris-toi</a>

	{% include signup_modal_form.html %}
</div>
