<div class="row">
	<div class="col s12 center">
		<h3>L'association</h3><br/>
	</div>
</div>

<div class="valign-wrapper">
	<div class="col s12 m6 valign">
		<ul id="whatis-accordion" class="collapsible popout" data-collapsible="accordion">
			<li id="accordion1">
				<div class="collapsible-header active">Un concours d'autostop depuis 2003</div>
				<div class="collapsible-body"><p class="left-align light">Pour citer le Prez 2009 :
				<br/>
				<i>"J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
					Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs".</i>
				<br/></p>
				</div>
			</li>
			<li id="accordion2">
				<div class="collapsible-header">Nos valeurs</div>
				<div class="collapsible-body"><p class="left-align light">Cher Pouceux, tu l’auras compris, le Pouce d’Or est bien plus qu’une formidable aventure universitaire. C’est aussi l’occasion de revaloriser l’autostop auprès de la communauté étudiante et de redécouvrir ce moyen de transport solidaire.
				<br/>Car oui, l’autostop existe toujours, et, comme l’ont montré les participants ces dernières années, il reste un moyen de transport efficace. Mais au delà de ses performances, ce sont les valeurs qu’il transmet qui nous semblent essentielles.
				<br/>Monter avec un(e) inconnu(e), prendre le temps d’échanger, rencontrer des personnes de tous horizons, quel meilleur moyen de voyager ? A travers l’autostop, on réapprend ce que sont l’entraide et la gratuité, on réapprend à voyager différemment, à galérer, à prendre le temps, ainsi qu’à rendre ces fameux coups de Pouce solidaires.
				<br/>C’est pourquoi, cher Pouceux, on espère que le Pouce d’Or t’incitera à pratiquer l’autostop encore longtemps !</p></div>
			</li>
			<li id="accordion3">
				<div class="collapsible-header">L'équipe</div>
				<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
			</li>
		</ul>
	</div>
	<div class="col s12 m6 valign">
		<div id="whatis-right1" style="display:block">
			<div id="video" class="video-container">
				<iframe style="border:0;" width="630" height="354" src="//www.youtube.com/embed/CGbIqdJb9lc" allowfullscreen></iframe>
			</div>
		</div>
		<div id="whatis-right2" style="display:none">
			<span>Lorem ipsum dolor sit amet.</span>
		</div>
		<div id="whatis-right3" style="display:none">
			<span>Nos têtes</span>
		</div>
	</div>
</div>
