<div class="parallax-container firstimage">
	<div class="parallax">{% img partenaires alt:"Unsplashed background img 2" magick:resize:2000x2000 %}</div>
</div>

<div class="col s12 m9">

	<h4 class="center">Nos partenaires</h4>

	<div class="ouihop">

		<a href="http://www.ouihop.com/" target="_blank">
		<img src="assets/img/partenaires/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>

		<p class="descri_partenaire">OuiHop', 1ère application d'auto-stop connecté courte distance, soutient activement le Pouce d'Or
			en assurant la sécurité des participants. Le Pouce d'Or les remercie pour leurs gilets jaunes !
			</p>

	</div>

</div>
