<div class="parallax-container firstimage">
	<div class="parallax"><img src="/assets/img/partenaires.jpg" alt="Unsplashed background img 2"></div>
</div>

<!-- <div class="flow-text amber lighten-4">

		<div class="row section">
			<h4 class="center">Nos partenaires</h4>
		</div>


		<div class="blue-grey lighten-5">

			<div class="row section valign-wrapper">

			<div class="col m3">

				<a href="http://www.ouihop.com/" target="_blank">
				<img  class="responsive-img valign" src="assets/img/partenaires/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>
			</div>

			<div class="col m9">
				<span class="valign">OuiHop', 1ère application d'auto-stop connecté courte distance, soutient activement le Pouce d'Or
					en assurant la sécurité des participants. Le Pouce d'Or les remercie pour leurs gilets jaunes !
				</span>

			</div>
		</div>
		</div>


	<div class="lime lighten-5">
		<div class="row section valign-wrapper">


			<div class="col m9">
				<span>OuiHop', 1ère application d'auto-stop connecté courte distance, soutient activement le Pouce d'Or
					en assurant la sécurité des participants. Le Pouce d'Or les remercie pour leurs gilets jaunes !
					</span>

			</div>

			<div class="col m3">

				<a href="http://www.ouihop.com/" target="_blank">
				<img  class="responsive-img" src="assets/img/partenaires/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>
			</div>

		</div>
	</div>
</div> -->


<div class="container flow-text-adapt">

		<div class="row section">
			<h4 class="center">Nos partenaires</h4>
		</div>


		<div class="row hide-on-small-only">

			<div class="card small horizontal blue-grey lighten-5 carte_partenaire">

			<div class="card-image">

				<a href="http://ouihop.com/openApp" target="_blank">
				<img class="responsive-img" src="assets/img/partenaires/logo_ouihop.png" alt="Logo de OuiHop'" title="Logo de Oui Hop'"/></a>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span>Seul dans votre voiture ? OuiHop', 1ère application d'auto-stop connecté courte distance, vous propose une
						alternative simple et sécurisée !
					</span>
				</div>
				<div class="card-action right-align">
					<a href="http://ouihop.com/openApp" target="_blank">
					Rendez-leur visite !</a>
				</div>
			</div>
		</div>
		</div>

		<div class="row hide-on-small-only">

			<div class="card small horizontal blue-grey lighten-5 carte_partenaire">

			<div class="card-image">

				<a href="http://rezopouce.fr/" target="_blank">
				<img class="responsive-img" src="assets/img/partenaires/logo_rezo_pouce.png" alt="Logo de Rezo Pouce'" title="Logo de Rezo Pouce'"/></a>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span>Vous êtes autostoppeur et avez du mal à trouver un conducteur ? Jetez un coup d'œil à Rezo Pouce, un réseau gratuit d'autostop organisé en France !
					</span>
				</div>
				<div class="card-action right-align">
					<a href="http://rezopouce.fr/" target="_blank">
					Rendez-leur visite !</a>
				</div>
			</div>
		</div>
		</div>

<!-- Petits écrans -->

<div class="row hide-on-med-and-up">

  <div class="col s12">
    <a href="http://www.ouihop.com/" target="_blank">

      <div class="blue-grey lighten-5 card hoverable">
        <div class="card-content logo_partenaire_container">

          <img src="assets/img/partenaires/logo_ouihop.png" class="responsive-img logo_partenaire" alt="Logo de OuiHop'"/>
        </div>

        <div class="card-action">
          <span class="black-text">Seul dans votre voiture ? OuiHop', 1ère application d'auto-stop connecté courte distance, vous propose une
						alternative simple et sécurisée !
          </span>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row hide-on-med-and-up">

  <div class="col s12">
    <a href="http://rezopouce.fr/" target="_blank">

      <div class="blue-grey lighten-5 card hoverable">
        <div class="card-content logo_partenaire_container">

          <img src="assets/img/partenaires/logo_rezo_pouce.png" class="responsive-img logo_partenaire" alt="Logo de Rezo Pouce'"/>
        </div>

        <div class="card-action">
          <span class="black-text">Vous êtes autostoppeur et avez du mal à trouver un conducteur ? Jetez un coup d'œil à Rezo Pouce, un réseau gratuit d'autostop organisé en France !
          </span>
        </div>
      </div>
    </a>
  </div>
</div>



<!-- Autre version -->

<div class="row hide">

	<div class="card small horizontal lime lighten-5 valign-wrapper">


	<div class="card-stacked">
		<div class="card-content valign">
			<span>OuiHop', 1ère application d'auto-stop connecté courte distance, soutient activement le Pouce d'Or
				en assurant la sécurité des participants. Le Pouce d'Or les remercie pour leurs gilets jaunes !
			</span>
		</div>
	</div>

	<div class="card-image valign">

		<a href="http://www.ouihop.com/" target="_blank">
		<img class="responsive-img" src="assets/img/partenaires/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>
	</div>
</div>
</div>

<div class="row hide">

	<div class="card small horizontal lime lighten-5 valign-wrapper">


	<div class="card-stacked">
		<div class="card-content valign">
			<span>Vous êtes autostoppeur et avez du mal à trouver un conducteur ? Jetez un coup d'œil à Rezo Pouce, un réseau gratuit d'autostop organisé en France !
			</span>
		</div>
	</div>

	<div class="card-image valign">

		<a href="http://rezopouce.fr/" target="_blank">
		<img class="responsive-img" src="assets/img/partenaires/logo_rezo_pouce.png" class="logo_partenaire" alt="Logo de Rezo Pouce'" title="Logo de Rezo Pouce'"/></a>
	</div>
</div>
</div>


</div>
