<div class="parallax-container">
	<div class="parallax">{% img partenaires alt:"Unsplashed background img 2" magick:resize:2000x2000 %}</div>
</div>

<div class="col s12 m9">

	<h4 class="center">Nos partenaires</h4>

	<div class="ouihop">

		<a href="http://www.ouihop.com/" target="_blank">
		<img src="assets/img/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>

		<p>OuiHop est un réseau de transport courte distance basé sur la confiance, le respect et l'entraide.<br />
			La 1ère application d'auto-stop connecté courte distance. 100% mobile, 100% instantané.
			</p>

	</div>

</div>
