<div class="container flow-text-adapt">
  <br/>
  <!-- <div class="divider"></div> -->

  <div class="row">
    <h4 class="center col s12">Ceux qui sont entrés dans la légende</h4>
  </div>

  <div class="row">
    <table class=" highlight">
      <thead>
        <th>Binôme</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr class="yellow lighten-3">
          <td>Les Ense3</td>
          <td>Ont déclenché un feu d'artifice</td>
        </tr>
        <tr class="yellow lighten-4">
          <td>Le Binôme Inconnu</td>
          <td>Se sont fait offrir un saut en parachute</td>
        </tr>
        <tr class="yellow lighten-3">
          <td>Un autre binôme</td>
          <td>A fait quelque chose de très bien</td>
        </tr>
      </tbody>


    </table>

  </div>
</div>
