<div class="container flow-text-adapt">
  <div class="divider"></div>

  <div class="row">
    <h4 class="center col s12"> Liste des défis</h4>
  </div>

  <div class="row">
  <table class="bordered highlight">
    <thead>
        <tr>
          <th>Véhicules hors du commun</th>
          <th>Nombre de points</th>
          <th>Nombre de binômes l'ayant déjà réalisé</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monter dans une voiture de sport/luxe</td>
        <td>40</td>
        <td>889</td>

      </tr>
      <tr>
        <td>Monter dans une 4L</td>
        <td>40</td>
        <td>247</td>

      </tr>
      <tr>
        <td>Être pris en stop par un camion-poubelle</td>
        <td>30</td>
        <td>34</td>

      </tr>

      <tr>
        <td>Conduire un tank</td>
        <td>300</td>
        <td>2</td>

      </tr>
      <tr>
        <td>Poser le pied dans une fusée</td>
        <td>Une photo sur le site</td>
        <td>Aucun pour l'instant<br/>(mais c'est pas passé loin)</td>

      </tr>

      <tr>
        <td>Être pris à bord du Transsibérien</td>
        <td>Devenir une légende</td>
        <td>Aucun pour l'instant</td>

      </tr>



    </tbody>
    <thead>
      <tr><th>Destinations originales</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Traverser la Manche</td>
        <td>300</td>
        <td>12</td>

      </tr>
      <tr>
        <td>Visiter un QG Pouce D'Or <br/>(ailleurs que dans ta ville de départ)</td>
        <td>300</td>
        <td>23</td>

      </tr>
      <tr>
        <td>Réaliser un tour de France</td>
        <td>1000</td>
        <td>3</td>

      </tr>
      <tr>
        <td>Réaliser un tour de Bretagne</td>
        <td>100</td>
        <td>Un seul</td>

      </tr>
      <tr>
        <td>Faire moins de 10km</td>
        <td>Grosse soirée au QG!</td>
        <td>Trop</td>

      </tr>
      <tr>
        <td>Aller en Corse</td>
        <td>1</td>
        <td>Je sais pas</td>

      </tr>
      <tr>
        <td>Revenir de Corse</td>
        <td>500</td>
        <td>Un seul</td>

      </tr>

      <tr>
        <td>Changer de continent</td>
        <td>1000</td>
        <td>Aucun pour l'instant</td>

      </tr>
    </tbody>
    <thead>
      <tr><th>Actions stylées</th></tr>
    </thead>
    <tbody>

      <tr>
        <td>Trouver Charlie</td>
        <td>30</td>
        <td>0</td>

      </tr>

      <tr>
        <td>Surprendre le staff</td>
        <td>Proportionnel à la surprise</td>
        <td>Beaucoup</td>

      </tr>
      <tr>
        <td>Monter avec un ancien du Pouce</td>
        <td>100</td>
        <td>51</td>

      </tr>
      <tr>
        <td>Dormir chez le chocho</td>
        <td>400</td>
        <td>311</td>

      </tr>
      <tr>
        <td>Se baigner dans la mer du Nord</td>
        <td>(100-Tempèrature de l'eau) x 2</td>
        <td>3</td>

      </tr>
      <tr>
        <td>Se faire inviter à un mariage</td>
        <td>500</td>
        <td>Deux</td>

      </tr>
      <tr>
        <td>Se faire offrir un saut en parachute</td>
        <td>Une place dans la légende</td>
        <td>Un seul</td>

      </tr>


      <tr>
        <td>Déclencher un feu d'artifice</td>
        <td>Une place dans la légende</td>
        <td>Un seul</td>

      </tr>


      <tr>
        <td>Aller à l'Oktobër Fest</td>
        <td>200</td>
        <td>6</td>

      </tr>



    </tbody>
  </table>
  </div>
</div>
