<div class="container flow-text-adapt">
<div class="row">
  <h4 class="center col s12"> Liste des défis</h4>
</div>
<div class="row">
<table class="bordered highlight">
  <thead>
      <tr>
        <th>Action</th>
        <th>Nombre de points</th>
        <th>Nombre de binômes l'ayant déjà réalisé</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>Conduire un tank</td>
      <td>Je sais pas</td>
      <td>Je sais pas</td>

    </tr>
    <tr>
      <td>Squatter un mariage</td>
      <td>Blc</td>
      <td>Un seul</td>

    </tr>

  </tbody>
</table>
</div>
</div>
