<div class="container flow-text-adapt">
  <div class="divider"></div>

  <div class="row">
    <h4 class="center col s12"> Liste des défis</h4>
  </div>

  <div class="row">
  <table id="liste_defis_tab">
    <thead>
        <tr>
          <th>Véhicules hors du commun</th>
          <th>Nombre de points</th>
          <th>Nombre de binômes l'ayant déjà réalisé</th>
        </tr>
    </thead>
    <tbody class="z-depth-1">
      <tr class="green lighten-5">
        <td>Monter dans une voiture de sport/luxe</td>
        <td>40</td>
        <td>889</td>

      </tr>
      <tr class="green lighten-4">
        <td>Monter dans une 4L</td>
        <td>40</td>
        <td>247</td>

      </tr>
      <tr class="green lighten-5">
        <td>Être pris en stop par un camion-poubelle</td>
        <td>30</td>
        <td>34</td>

      </tr>

      <tr class="green lighten-4">
        <td>Conduire un tank</td>
        <td>300</td>
        <td>2</td>

      </tr>

      <tr class="green lighten-5">
        <td>Faire de la montgolfière</td>
        <td>200</td>
        <td>4</td>
      </tr>

      <tr class="green lighten-4">
        <td>Prendre l'avion</td>
        <td>300</td>
        <td>16</td>
      </tr>

      <tr class="green lighten-5">
        <td>Prendre le sous-marin</td>
        <td>500</td>
        <td>Aucun</td>
      </tr>

      <tr class="green lighten-4">
        <td>Poser le pied dans une fusée</td>
        <td>Une photo sur le site</td>
        <td>Aucun pour l'instant<br/>(mais c'est pas passé loin)</td>

      </tr>

      <tr class="green lighten-5">
        <td>Être pris à bord du Transsibérien</td>
        <td>Devenir une légende</td>
        <td>Aucun pour l'instant</td>

      </tr>


    </tbody>
    <thead>
      <tr><th>Destinations originales</th></tr>
    </thead>
    <tbody class="z-depth-1">

      <tr class="indigo lighten-5">
        <td>Faire moins de 10km</td>
        <td>Grosse soirée au QG!</td>
        <td>Trop</td>

      </tr>
      <tr class="indigo lighten-4">
        <td>Traverser la Manche</td>
        <td>300</td>
        <td>12</td>

      </tr>
      <tr class="indigo lighten-5">
        <td>Aller en Corse</td>
        <td>1</td>
        <td>Aucune idée</td>

      </tr>
      <tr class="indigo lighten-4">
        <td>Revenir de Corse</td>
        <td>500</td>
        <td>Un seul</td>

      </tr>

      <tr class="indigo lighten-5">
        <td>Visiter un QG Pouce D'Or <br/>(ailleurs que dans ta ville de départ)</td>
        <td>300</td>
        <td>23</td>

      </tr>
      <tr class="indigo lighten-4">
        <td>Aller à l'Oktobër Fest</td>
        <td>200</td>
        <td>6</td>

      </tr>
      <tr class="indigo lighten-5">
        <td>Réaliser un tour de France</td>
        <td>1000</td>
        <td>3</td>

      </tr>
      <tr class="indigo lighten-4">
        <td>Réaliser un tour de Bretagne</td>
        <td>100</td>
        <td>Un seul</td>

      </tr>


      <tr class="indigo lighten-5">
        <td>Changer de continent</td>
        <td>1000</td>
        <td>Aucun pour l'instant</td>

      </tr>
    </tbody>
    <thead>
      <tr><th>Actions stylées</th></tr>
    </thead>
    <tbody class="z-depth-1">

      <tr class="cyan lighten-5">
        <td>Trouver Charlie</td>
        <td>30</td>
        <td>Un seul</td>

      </tr>

      <tr class="cyan lighten-4">
        <td>Surprendre le staff</td>
        <td>Proportionnel à la surprise</td>
        <td>Beaucoup</td>

      </tr>
      <tr class="cyan lighten-5">
        <td>Monter avec un ancien du Pouce</td>
        <td>100</td>
        <td>51</td>

      </tr>
      <tr class="cyan lighten-4">
        <td>Monter avec une célébrité</td>
        <td>80</td>
        <td>21</td>

      </tr>
      <tr class="cyan lighten-5">
        <td>Faire un câlin à tous ses chochos</td>
        <td>150</td>
        <td>45</td>

      </tr>

      <tr class="cyan lighten-4">
        <td>Dormir chez le chocho</td>
        <td>400</td>
        <td>311</td>

      </tr>
      <tr class="cyan lighten-5">
        <td>Se baigner dans la mer du Nord</td>
        <td>(100-Température de l'eau) x 2</td>
        <td>3</td>

      </tr>
      <tr class="cyan lighten-4">
        <td>Se faire inviter à un mariage</td>
        <td>500</td>
        <td>Deux</td>

      </tr>







    </tbody>
  </table>
  </div>
</div>
