<div class="parallax-container firstimage">
	<div class="parallax"><img src="/assets/img/archives.jpg" alt="Unsplashed background img 2"></div>
</div>

<!-- <h3 class="center" style="margin-top: 1.5em;">[Page en construction]</h3> -->
<div class="container flow-text-adapt">
	<div class="row">
		<h4 class="center col s12">Les défis</h4>
	</div>

	<div class="row">

		<div class="col hide-on-small-only">

			<p>Parce qu'au Pouce d'Or tout le monde n'a pas l'occasion d'aller bien loin, et que certains n'auront pas le privilège de dépasser les 200km aller-retour,
			votre dévoué staff a pensé à un classement alternatif : <strong class="amber-text text-darken-1">le classement défis</strong>, permettant aux moins chanceux de se distinguer
			par leurs exploits !</p>

			<p>Que ce soit l'avion, le tank, le feu d'artifices ou l'Oktoberfest, ces défis, aussi variés et farfelus qu'étonnants, complèteront votre périple ! Trois catégories:
			 <strong class="amber-text text-darken-1">véhicules</strong>, <strong class="amber-text text-darken-1">destinations</strong> et <strong class="amber-text text-darken-1">actions originales</strong> !
			  Pensez tout de même aux photos preuves pour que votre staff valide les défis et pour faire vivre l'événement !</p>

			<p>Bien entendu, les défis sont présentés dans la suite à titre indicatif, à vous de créer votre propre aventure ! Tout exploit improbable, surprenant le staff,
			sera dignement récompensé !</p>
		</div>

		<div class="col hide-on-med-and-up">

			<p>Pour les binômes qui n'auront pas l'occasion d'aller bien loin, votre dévoué staff a pensé à un classement alternatif :
			 <strong>le classement défis</strong>, qui vous permettra de briller par vos exploits !</p>

			<p>Avion, tank, feu d'artifices ou Oktoberfest, ces défis, aussi variés et farfelus qu'étonnants, complèteront votre périple !</p>

			<p>Bien entendu, les défis sont présentés dans la suite à titre indicatif ! Tout exploit improbable, surprenant le staff,
			sera dignement récompensé !</p>
		</div>

	</div>
</div>
