<div class="col s12 m4">
	<div class="icon-block">
		<h2 class="center brown-text"><i class="medium material-icons">format_list_numbered</i></h2>
		<h4 class="center">Les conseils et recommandations</h4>
		<p class="light">
			Un voyage en stop se prépare, spécialement si c’est un long trajet. Vous trouverez dans cette rubrique nos conseils pour bien préparer votre voyage.
			<br/>
			<br/> Vous partez pour un week-end entier, vous allez donc avoir besoin d’un minimum d’affaires. Nous vous conseillons...
		</p>
		<a href="#"><span class="read_more">En savoir plus...</span></a>
	</div>
</div>
<div class="col s12 m4">
	<div class="icon-block">
		<h2 class="center brown-text"><i class="medium material-icons">time_to_leave</i></h2>
		<h4 class="center">Edition 2015</h4>
		<br/>
		<p class="light">
			<b>Lundi 21 septembre</b> : Ouverture des inscriptions en ligne : <a href="inscription.php">Inscription</a>
			<br/>
			<br/>
			<b>Jeudi 01 octobre à 23h59</b> : Fermeture des inscriptions en ligne
			<br/>
			<br/>
			<b>Samedi 03 octobre à 8h20</b> : Rendez-vous au point de rencontre pour les derniers points de sécurité et la distribution des ...
		</p>
		<a href="#"><span class="read_more">En savoir plus...</span></a>
	</div>
</div>
<div class="col s12 m4">
	<div class="icon-block">
		<h2 class="center brown-text"><i class="medium material-icons">archive</i></h2>
		<h4 class="center">Les archives</h4>
		<br/>
		<p class="light">
			Tu es ici dans le vatican du Pouce d'Or.
			<br/>
			<br/> Ici repose en paix, sur un serveur dont la localisation m'est inconnue, la mémoire des vétérans du Pouce d'Or qui sont aujourd'hui des gens très serieux (ou pas) mais qui gardent en eux le souvenir d'un week-end démentiel passé à silloner les routes d'Europe ...
		</p>
		<a href="#"><span class="read_more">En savoir plus...</span></a>
	</div>
</div>