<div class="parallax-container">
	<div class="parallax">{% img firstscreen alt:"Unsplashed background img 2" magick:resize:2000x2000 %}</div>
	<div id="index-banner">
		<h1 class="header center white-text text-darken-2" id="title">Le Pouce d'Or</h1>
		<div class="row center">
			<h5 class="header col s12 white-text">“L'essentiel, ce n'est pas d'aller loin mais de vivre une aventure extraordinaire“</h5>
		</div>
		<!-- <div class="row center">
			<a href="#" id="download-button" class="btn-large waves-effect waves-light teal darken-1" alt="Je m'inscrit au Pouce d'Or 2015">S'inscrire</a>
			{} {#  (Ouverture mi-septembre)</a> #} {# <a href="{{ path('pouce_site_inscription_ecole') }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" alt="J'inscrit mon école / Université au Pouce d'Or 2014">Inscrire son école</a> #}
			<a href="#" id="download-button" class="btn-large waves-effect waves-light teal darken-1" alt="Classement 2015">Classement 2015</a>
		</div> -->
	</div>
</div>
