<div class="col m12 hide-on-small-only">
  <ul class="left-align" id="numbers-list1">
    <li style="opacity:0;">
      <div id="numbers-record">
        <div class="transparent">
          <br/>
          <h4><b>1576 km</b> en 48h</h4>
          <h5 class="light text-lighten-3">Nantes - Copenhague</h5>
          <a href="classements.html"><h6>Record à battre !</h6></a>
          <br/>
        </div>
      </div>
    </li>
  </ul>
  <ul class="center-align" id="numbers-list2">
    <li style="opacity:0;">
      <div id="numbers-participant">
        <div class="transparent">
          <br/>
          <h4><b>440</b> participants</h4>
          <h5 class="light text-lighten-3">Pour l'édition 2016</h5>
          <br/>
          <br/>
        </div>
      </div>
    </li>
  </ul>
  <ul class="right-align" id="numbers-list3">
    <li style="opacity:0;">
      <div id="numbers-monde">
        <div class="transparent">
          <br/>
          <h4><b>6,5</b> fois le tour du monde</h4>
          <h5 class="light text-lighten-3">Total des km cumulés sur l'édition 2016</h5>
          <br/>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="col s12 hide-on-med-and-up">
  <ul class="center-align" id="numbers-list1-mobile">
    <li style="opacity:0;">
        <h4><b>1576 km</b> en 48h</h4>
        <h5 class="light text-lighten-3">Nantes - Copenhague</h5>
        <a href="classements.html"><h6>Record à battre !</h6></a>
        <br/><br/>
    </li>
  </ul>
  <ul class="center-align" id="numbers-list2-mobile">
    <li style="opacity:0;">
      <h4><b>440</b> participants</h4>
      <h5 class="light text-lighten-3">Pour l'édition 2016</h5>
      <br/><br/>
    </li>
  </ul>
  <ul class="center-align" id="numbers-list3-mobile">
    <li style="opacity:0;">
      <h4><b>6,5</b> fois le tour du monde</h4>
      <h5 class="light text-lighten-3">Total des km cumulés sur l'édition 2016</h5>
      <br/>
    </li>
  </ul>
</div>
