<ul class="center-align" is="numbers-mobile-list">
  <li>
    <h4><b>1576 km</b> en 48 h</h4>
    <h5 class="light text-lighten-3">Nantes - Copenhague</h5>
    <a href="classement.html"><h6>Record à battre !</h6></a>
  </li>
  <br/><br/>
  <li>
    <h4><b>141</b> participants</h4>
    <h5 class="light text-lighten-3">Pour l'édition 2016</h5>
  </li>
  <br/><br/>
  <li>
    <h4><b>6,5</b> fois le tour du monde</h4>
    <h5 class="light text-lighten-3">Total des km cumulés sur l'édition 2016</h5>
  </li>
</ul>
