<div class="col s12 m12">

	<h4 class="center">Nos partenaires</h4>

	<div class="partenaire center">

		<a href="http://www.ouihop.com/" target="_blank">
		<img src="assets/img/logo_ouihop.png" class="logo_partenaire" alt="Logo de Oui Hop'" title="Logo de Oui Hop'"/></a>

		<p class="descri_partenaire">OuiHop est un réseau de transport courte distance basé sur la confiance, le respect et l'entraide.<br />
			La 1ère application d'auto-stop connecté courte distance. 100% mobile, 100% instantané.
			</p>

	</div>

</div>
