<div class="col s12 m4">
	<div class="review" id="c0">
		"Fou !!!! Super experience, à refaire, et maintenant c'est sur que je prendrai des gens en stop!"
	</div>
	<div class="signature">
		<div class="name" id="a0">
			Les Neiffeurs
		</div>
		<div class="from" id="e0">
			EM Normandie
		</div>
	</div>
</div>
<div class="col s12 m4 hide-on-small-only">
	<div class="review" id="c1">
		"Superbe aventure, avec la présence rassurante d'un staff organisé."
	</div>
	<div class="signature">
		<div class="name" id="a1">
			Les Impouçuptibles
		</div>
		<div class="from" id="e1">
			Centrale Nantes
		</div>
	</div>
</div>
<div class="col s12 m4 hide-on-small-only">
	<div class="review" id="c2">
		"Expérience unique, parfois fatiguante et exaspérante mais passionnante ! On a adoré !"
	</div>
	<div class="signature">
		<div class="name" id="a2">
			Kathzzzfu
		</div>
		<div class="from" id="e2">
			Centrale Lyon
		</div>
	</div>
</div>
