<div class="col m12 l9 hide-on-small-only">

	<h4 class="center">Les établissements participants</h4>

<div>
	<div class="row valign-wrapper">
	{% for schoolName in site.data.ecoles.name %}

		<!-- Get the number of the row to put next school image (From 1 to 6) -->
		{% assign loopindex = forloop.index - 1 | modulo : 6 %}

		<!-- {{ forloop.index }}//
		{{ loopindex }} -->
		<!-- If we begin a new row but not the first one but the last one // It's the LAST row ! -->
		{% if loopindex == 1 and forloop.index != 0 and forloop.rindex < 6 %}

			<!-- How many image left there are -->
			{% case forloop.rindex %}
				{% when 1 %}
					<div class="col s12 m2 offset-m5">
						<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">
					</div>
				{% when 2 %}
					<div class="col s12 m2 offset-m4">
						<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">
					</div>
				{% when 3 %}
					<div class="col s12 m2 offset-m3">
						<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">
					</div>
				{% when 4 %}
					<div class="col s12 m2 offset-m2">
						<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">
					</div>
				{% when 5 %}
					<div class="col s12 m2 offset-m1">
						<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">
					</div>
			{% endcase %}

		<!-- Else it's the last row but not the first image-->
		{% elsif loopindex != 1 and forloop.index != 0 and forloop.rindex < 6 %}
			<div class="col s12 m2 no-margin-left">
				<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">

			</div>

		<!-- Else it's not the last row -->
		{% else %}
			<div class="col s12 m2">
				<img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="responsive-img valign">

			</div>
		{% endif %}

		<!-- If we begin a new row but not the first one -->
		{% if loopindex == 0 and forloop.index != 1 %}
			</div>

	<div class="row valign-wrapper">
		{% endif %}

	{% endfor %}

	</div>

	<div class="right-align">
		<a href="evenement.html#etablissement"><h5><i class="fa fa-pencil-square-o text-darken-1" style="padding-right:0.3em"></i>Inscrire son établissement...</h5></a>
	</div>
</div>

</div>

<div class="col l3 hide-on-med-and-down">
	<h4 class="center">Nos partenaires</h4>
</div>

<div class="col l2 hide-on-med-and-down">
	<blockquote>
		<a href="http://www.ouihop.com/" target="_blank" class="waves-effect waves-yellow">
			<img src="assets/img/partenaires/logo_ouihop.png" class="responsive-img logo_partenaire" alt="Logo de Oui Hop'" title="Oui Hop'"/>
		</a>
	</blockquote>
	<blockquote>
		<a href="partenaires.html">En savoir plus...</a>
	</blockquote>
</div>

<div class="col s12 hide-on-med-and-up" id="school-mobile">
	<h4 class="center">Etablissements participants</h4>
	<div class="slider">
		<ul class="slides">
	    {% for schoolName in site.data.ecoles.name %}
	      <li>
	        <img src="/{{ site.data.ecoles.schoolfolder }}/{{ schoolName }}" class="img-responsive">
	      </li>
	  	{% endfor %}
		</ul>
	</div>
	<div class="center-align">
		<a href="evenement.html#etablissement"><h5><i class="fa fa-pencil-square-o text-darken-1" style="padding-right:0.3em"></i>Inscrire son établissement...</h5></a>
	</div>
</div>
