<div class="col s12 center hide-on-small-only">
	<h3>Inscris toi à l’édition 2017</h3>
</div>
<div class="left-align light col s12 m5">
	<h5>Départ dans :</h5>
	<div class="row center-align">
		<div class="clock_day" id="clock_day" data-date="2017-09-30 08:00:00"></div>
		<h4 style="font-size: 50px; margin-top: -30px;">Jours</h4>
	</div>
	<div class="row center-align">
		<div class="clock" data-date="2017-09-30 08:00:00"></div>
	</div>
</div>
<div class="left-align light col s12 m7">
	<h5>Créé ton compte et pars à l’aventure</h5>

	<div class="row">
		<form action="" method="POST" class="pre_registration_form" id="pre_registration_form">
			<div class="col s12 m12 input-field">
				<input
					placeholder="prenom.nom@ecole.fr"
					id="email"
					name="email"
					type="text">
				<label for="email">Adresse e-mail</label>
			</div>

			<div class="col s12 m6 input-field ">
				<input
					id="first_name"
					name="first_name"
					type="text">
				<label for="first_name">Prénom</label>
			</div>

			<div class="col s12 m6 input-field ">
				<input
					id="last_name"
					name="last_name"
					type="text">
				<label for="last_name">Nom</label>
			</div>


			<div class="input-field col s12 m12">
				<input
					id="telephone"
					name="telephone"
					type="text">
				<label for="telephone">Numéro de téléphone</label>
			</div>
		</form>
	</div>
	<div class="right-align">
		<a class="waves-effect waves-light btn" id="pre_signup_btn" href="">En développement</a> <!-- Remplacer par #modal1 -->
	</div>

	{% include signup_modal_form.html %}
</div>
