<div class="parallax-container">
	<div class="parallax"><img src="/assets/img/index_whatis.jpg" alt="Unsplashed background img 2"></div>

	<h3 class="center white-text">Le Pouce d'Or, qu'est ce que c'est ?</h3>

	<div class="row section section_small valign-wrapper">
		<div class="col s12 m6 valign">
			<ul id="whatis-accordion" class="collapsible popout" data-collapsible="accordion">
				<li id="accordion1">
					<div class="collapsible-header active">Un concours d'autostop depuis 98</div>
					<div class="collapsible-body">
						<p class="left-align light">Pour citer le Prez 2009 :<br/>
							<i>"J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
								Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs".</i><br/>
						</p>
					</div>
				</li>
				<li id="accordion2">
					<div class="collapsible-header">Edition 2017</div>
					<div class="collapsible-body" id="calendar-left">
						Tout commence le 20 Septembre 2017...
					</div>
				</li>
				<li id="accordion3">
					<div class="collapsible-header">Les défis du Pouce d'Or</div>
					<div class="collapsible-body"><p>Le Pouce d'Or ça n'est pas seulement un concours d'autostop, c'est aussi des dizaines de défis tous aussi stupides qu'étonnants !<br/><br/>
					Pour ceux qui ne dépassent pas les 100km au compteur, vous avez toujours la possibilité de vous distinguer par vos exploits et de gagner des points pour exceller au classement défis !<br/><br/>
					<a href="defis.html">En savoir plus sur les défis disponibles...</a><br/></div>
				</li>
			</ul>
		</div>
		<div class="col s12 m6 valign">
			<div id="whatis-right1" style="display:block" class="z-depth-2">
				<div class="z-depth-2">
					<div id="video" class="video-container">
						<iframe style="border:0;" width="630" height="354" src="//www.youtube.com/embed/CGbIqdJb9lc" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div id="whatis-right2" style="display:none">
				<div class="calendar-container z-depth-2"></div>

			</div>
			<div id="whatis-right3" style="display:none">
				<div class="slider">
			    <ul class="slides z-depth-2">
			      <li>
			        <img src="assets/img/defis/defi7.jpg"> <!-- random image -->
			        <div class="caption left-align">
			          <h3><br/><br/><br/><br/>Faire du train-stop...</h3>
			        </div>
			      </li>
			      <li>
			        <img src="assets/img/defis/defi8.jpg"> <!-- random image -->
			        <div class="caption right-align">
			          <h3><br/><br/><br/>prendre les commandes...</h3>
			        </div>
			      </li>
			      <li>
			        <img src="assets/img/defis/defi1.jpg"> <!-- random image -->
			        <div class="caption left-align">
			          <h3><br/><br/><br/><br/>d'un avion...</h3>
			        </div>
			      </li>
			      <li>
			        <img src="assets/img/defis/defi2.jpg"> <!-- random image -->
			        <div class="caption right-align">
			          <h3><br/><br/><br/>ou d'autres véhicules</h3>
			          <h5 class="light grey-text text-lighten-3">disons... moins ordinaires !</h5>
			        </div>
			      </li>
			    </ul>
			  </div>
				<!-- <img src="assets/img/defis_whatis.jpg" class="responsive-img z-depth-2 circle"/> -->
			</div>
		</div>
	</div>
</div>
