<div class="parallax-container">
	<div class="parallax">{% img index_whatis alt:"Unsplashed background img 2" magick:resize:2000x2000 %}</div>

	<h3 class="center white-text">Le Pouce d'Or, qu'est ce que c'est ?</h3>

	<div class="row section valign-wrapper">
		<div class="col s12 m6 valign">
			<ul id="whatis-accordion" class="collapsible popout" data-collapsible="accordion">
				<li id="accordion1">
					<div class="collapsible-header active">Un concours d'autostop depuis 2003</div>
					<div class="collapsible-body">
						<p class="left-align light">Pour citer le Prez 2009 :<br/>
							<i>"J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
								Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs".</i><br/>
						</p>
					</div>
				</li>
				<li id="accordion2">
					<div class="collapsible-header">Edition 2017</div>
					<div class="collapsible-body">
						Tout commence le 21 Septembre 2017...
					</div>
				</li>
				<li id="accordion3">
					<div class="collapsible-header">Les défis du Pouce d'Or</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
			</ul>
		</div>
		<div class="col s12 m6 valign">
			<div id="whatis-right1" style="display:block">
				<div class="z-depth-2">
					<div id="video" class="video-container">
						<iframe style="border:0;" width="630" height="354" src="//www.youtube.com/embed/CGbIqdJb9lc" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div id="whatis-right2" style="display:none">
				<div class="calendar-container"></div>
				<!--<p><b>Mercredi 21 septembre</b> : Ouverture des inscriptions des participants.<br />
				<b>Vendredi 30 septembre 23h59</b> : Fermeture des inscriptions des participants. C’est le moment où il vaut mieux éviter de faire une soirée pré-départ.<br />
				<b>Samedi 1er octobre 7h20</b> : Rendez-vous au point de rencontre pour la distribution des gilets jaunes, la remise des décharges et les derniers points de sécurité. Grosse grosse grosse ambiance !<br />
				<b>Samedi 1er octobre 8h00</b> : C’est parti pour la première vague de Pouceux !<br />
				<b>Samedi 1er octobre 18h27</b> : D’après Roger, Prague c’est très joli de nuit, qu’est-ce que tu penses de ton aire d’autoroute pourrie ?<br />
				<b>Dimanche 2 octobre 13h09</b> : Vous croisez un binôme de Marseille. Sauf qu’eux ils sont à 764 km de chez eux.<br />
				<b>Lundi 3 septembre 8h00</b> : La plupart des Pouceux sont rentrés et vont mécaniquement en amphi. Y’en a deux qui sont encore bloqués à Strasbourg, ce sont des héros.<br />
				<b>Samedi 8 octobre 8h00</b> : La deuxième vague de Pouceux est en route !!<br />
				<b>Lundi 10 octobre 8h00</b> : Fin du Pouce d’Or 2016, tout le monde raconte ses anecdotes !! Vous avez jusqu’au 15 septembre pour valider vos parcours sur le site internet, y déclarer vos retards et y raconter votre aventure !</p>

				<p><b>Jeudi 9 février 2017</b> : Ouaaaaais y’a le classement en ligne !!!</p> -->
			</div>
			<div id="whatis-right3" style="display:none">
				<span>Lorem ipsum dolor sit amet. POUET !</span>
			</div>
		</div>
	</div>
</div>
