<div class="col s12 center">
	<h3>Le Pouce d'Or, qu'est ce que c'est ?</h3>
	<br/>
	<p class="left-align light">
		Un week end de voyage, de rencontres, d'aventures, de galères, de folies...
		<br/> En gros une compétition de stop (et oui ça existe), mais où le but n'est pas tant de gagner mais de découvrir ou faire découvrir l'autostop tout en se créant un paquet de souvenirs.
		<br/>
	</p>
</div>
<div class="col s12 m6">
	<div id="video" class="video-container">
		<iframe style="border:0;" width="630" height="354" src="//www.youtube.com/embed/CGbIqdJb9lc" allowfullscreen></iframe>
	</div>
</div>
<div class="left-align light  col s12 m6">
	Pour citer le Prez 2009 :
	<br/>
	<i>"J'espère que les pouceux de cette édition le resteront : Oui le Pouce d'Or est un week end de galère, d'échec, un concours d'école un peu débile. <br/>Mais c'est aussi et surtout une action sociale à petit niveau pour réinsérer un truc que la société commence à oublier : donner des coups de pouce à son voisin. Pendant ce week-end les pouceux ont appris que ca existait encore, j'espère donc qu'ils passeront le relais dans la vie de tous les jours. Ils ont même initiés des chochos à cette pratique, qui sait peut-être cela les encouragera à continuer à filer des ptits coups de pouce?
		Vive le Pouce, Vive la societé, Vivons tous ensemble dans les champs".</i>
	<br/>
	<br/>
</div>
<div class="col s12 center">
	<p>
		N'attends pas le <span style="text-decoration: underline;">12 Octobre</span>, sors toi le pouce !
	</p>
</div>
