<!doctype html>
<html>
<head>
{% include head.html %}

	<!-- Material Icons -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- MaterializeCSS -->
	{% css materialize %}

	<!-- TimeCircles -->
	{% css TimeCircles %}

	<!-- global stylesheet -->
	{% css index %}
</head>
<body>
	<div id="top" class="scrollspy"></div>

	<div class="menu">{% include menu.html %}</div>

	{{ content }}

	{% include footer.html %}

	<!-- ################### Javascript ################### -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	{% js materialize %}
	{% js index %}
	{% js TimeCircles %}
	{% js TimeCirclesInit %}

</body>
</html>
