<!doctype html>
<html>
<head>
{% include head.html %}

	<!-- ################### Javascript ################### -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

	{% comment %}
	<!-- MaterializeCSS -->
	{% css materialize %}

	<!-- Material Icons -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- TimeCircles -->
	{% css TimeCircles %}

	<!-- Login widget -->
	{% css login %}

	<!-- global stylesheet -->
	{% css index %}

	<!-- calendar -->
	{% css calendar %}
	{% endcomment %}

	<!-- MaterializeCSS -->
	<link rel="stylesheet" href="assets/css/materialize.css">

	<!-- Material Icons -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- TimeCircles -->
	<link rel="stylesheet" href="assets/css/TimeCircles.css">

	<!-- Login widget -->
	<link rel="stylesheet" href="assets/css/login.css">

	<!-- global stylesheet -->
	<link rel="stylesheet" href="assets/css/index.css">

	<!-- calendar -->
	<link rel="stylesheet" href="assets/css/calendar.css">
</head>
<body>
	<div id="top" class="scrollspy"></div>

	<div class="menu">{% include menu.html %}</div>

	{{ content }}

	{% include footer.html %}

	<!-- ################### Javascript ################### -->
	{% comment %}
	{% js materialize %}
	{% js index %}
	{% js jquery.validate %}
	{% js TimeCircles %}
	{% js countUp %}
	{% js TimeCirclesInit %}
	{% js login %}
	{% js citations_aleatoires %}
	{% js calendar %}
	{% endcomment %}

	<script type="text/javascript" src="/assets/js/materialize.js"></script>
	<script type="text/javascript" src="/assets/js/index.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.validate.js"></script>
	<script type="text/javascript" src="/assets/js/TimeCircles.js"></script>
	<script type="text/javascript" src="/assets/js/countUp.js"></script>
	<script type="text/javascript" src="/assets/js/TimeCirclesInit.js"></script>
	<script type="text/javascript" src="/assets/js/login.js"></script>
	<script type="text/javascript" src="/assets/js/citations_aleatoires.js"></script>
	<script type="text/javascript" src="/assets/js/calendar.js"></script>

</body>
</html>
